## AMR in genomes from NCBI and from mysterious city
First lets upload the mysterious city AMR presence-absence table
We have 143 genomes (rows) with 505 AMR markers detected

In [2]:
import pandas as pd
## 505 combined CARD-manual Ids from mysterious samples
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/amr_mistery_table20230622_aroIds.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_CM_mysterious = pd.read_csv(url, delimiter='\t')
# Rename the first column
df_CM_mysterious.columns.values[0] = 'ID'

# Print the DataFrame
print(df_CM_mysterious.head())

# Get the dimensions of the DataFrame
rows_df_CM_mysterious, columns_df_CM_mysterious = df_CM_mysterious.shape

# Print the dimensions
print("Number of rows:", rows_df_CM_mysterious)
print("Number of columns:", columns_df_CM_mysterious)
# Count non-zero values by row
non_zero_counts = (df_CM_mysterious != 0).sum(axis=1)

# Print the result
print(non_zero_counts)
#print (df)

   ID  ARO:3000167  ARO:3002847  mrkb  enta  fepa  ARO:3004122  cyca  csge  \
0  S1            0            0     0     0     0            0     1     0
1  S2            0            0     0     0     0            0     1     0
2  S3            0            0     0     0     0            0     1     0
3  S4            0            0     0     1     0            0     1     0
4  S5            0            0     0     0     0            0     1     0

   iucc  ...  teml100  scintssj  wcst  sfax  kpsd  mdlb  ARO:3001084  tssj  \
0     0  ...        0         0     0     0     0     0            0     0
1     0  ...        0         0     0     0     0     0            0     0
2     0  ...        0         0     0     0     0     0            0     0
3     0  ...        0         0     0     0     0     0            0     0
4     0  ...        0         0     0     0     0     0            0     0

   icmftssm  acrr
0         0     0
1         0     0
2         0     0
3         0     0
4         0     0

[5 rows x 506 columns]
Number of rows: 146
Number of columns: 506
0       74
1       79
2       85
3       85
4       76
      ...
141    125
142    126
143    126
144    118
145    115
Length: 146, dtype: int64

In [3]:
## Adding metadata from such as species to mysterious samples
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/01_preprocessing/amr_patterns.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_metadata_mysterious = pd.read_csv(url, delimiter='\t')
new_column = df_metadata_mysterious['ID']
df_metadata_mysterious.insert(2, 'City', new_column)
df_metadata_mysterious['City'] = 'mysterious'
df_metadata_mysterious=df_metadata_mysterious.iloc[:, :4]

# Print the DataFrame
#print(df_metadata_mysterious.head())
# Perform the join based on the 'Id' column
mysterious_df = pd.merge( df_metadata_mysterious,df_CM_mysterious, on='ID')

# Print the merged DataFrame
print(mysterious_df.head())

   ID                  Species        City AST-based group  ARO:3000167  \
0  S1  Enterobacter hormaechei  mysterious   3GC-resistant            0
1  S2  Enterobacter hormaechei  mysterious          CP CRE            0
2  S3  Enterobacter hormaechei  mysterious          CP CRE            0
3  S4  Enterobacter hormaechei  mysterious          CP CRE            0
4  S5  Enterobacter hormaechei  mysterious          CP CRE            0

   ARO:3002847  mrkb  enta  fepa  ARO:3004122  ...  teml100  scintssj  wcst  \
0            0     0     0     0            0  ...        0         0     0
1            0     0     0     0            0  ...        0         0     0
2            0     0     0     0            0  ...        0         0     0
3            0     0     1     0            0  ...        0         0     0
4            0     0     0     0            0  ...        0         0     0

   sfax  kpsd  mdlb  ARO:3001084  tssj  icmftssm  acrr
0     0     0     0            0     0         0     0
1     0     0     0            0     0         0     0
2     0     0     0            0     0         0     0
3     0     0     0            0     0         0     0
4     0     0     0            0     0         0     0

[5 rows x 509 columns]

In [5]:
# Getting consensus by city
## Pending

# Extract column 3

#df=mysterious_df
#df = df.drop(columns=[df.columns[0], df.columns[2], df.columns[3]])

#grouped = df.groupby('Species').agg(lambda x: x.mode().iloc[0])

# Print the result
#print(grouped)
# Count non-zero values by row
#non_zero_counts = (df != 0).sum(axis=1)

# Print the result
#print(non_zero_counts)
#print (df)

## AMR in Genomes  
### Selected from NCBI  
We found 3566 CARD Ids ( columns) not all of them are in the mysterious city samples.  
The 106 rows are the genus _Escherichia_, _Enterobacter_ and _Klebsiella_ in the 6 US cities were AMR CARD models were found.

In [4]:

## CARD table for Extracted by Taxonomy , binned by city
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/230623_genomes_card_presence.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_NCBI_genomes_AMR_CARD = pd.read_csv(url, delimiter='\t').transpose()

# Get the values from the third row
third_row = df_NCBI_genomes_AMR_CARD.iloc[1]
df_NCBI_genomes_AMR_CARD.columns=third_row

# Add a prefix to column names
prefix = 'ARO:'  # Replace with the desired prefix
df_NCBI_genomes_AMR_CARD = df_NCBI_genomes_AMR_CARD.add_prefix(prefix)

# Remove a specific row by index
index_to_remove = 'aro'  # Replace with the index of the row you want to remove
df_NCBI_genomes_AMR_CARD = df_NCBI_genomes_AMR_CARD.drop(index_to_remove)


print(df_NCBI_genomes_AMR_CARD)

aro             ARO:3000535 ARO:3003665 ARO:3000620 ARO:3005091 ARO:3007433  \
Unnamed: 0             macB        NmcR        adeL        RanA        almE
GCF_002214205.1           1           1           1           1           1
GCF_002833425.1           1           1           1           1           1
GCF_002833445.1           1           1           1           1           1
GCF_002833465.1           1           1           1           1           1
...                     ...         ...         ...         ...         ...
GCF_029069675.1           1           1           1           1           1
GCF_029069745.1           1           1           1           1           1
GCF_029069825.1           1           1           1           1           1
GCF_029070195.1           1           1           1           1           1
GCF_029075245.1           1           1           1           1           1

aro             ARO:3000833 ARO:3005008 ARO:3000813 ARO:3004047 ARO:3002985  \
Unnamed: 0             evgS         TxR        MexS        kdpD        arnA
GCF_002214205.1           1           1           1           1           1
GCF_002833425.1           1           1           1           1           1
GCF_002833445.1           1           1           1           1           1
GCF_002833465.1           1           1           1           1           1
...                     ...         ...         ...         ...         ...
GCF_029069675.1           1           1           1           1           1
GCF_029069745.1           1           1           1           1           1
GCF_029069825.1           1           1           1           1           1
GCF_029070195.1           1           1           1           1           1
GCF_029075245.1           1           1           1           1           1

aro              ... ARO:3006843 ARO:3001659 ARO:3000950 ARO:3003622  \
Unnamed: 0       ...      PDC-58     OXA-175      TEM-83     OXA-466
GCF_002214205.1  ...           0           0           0           0
GCF_002833425.1  ...           0           0           0           0
GCF_002833445.1  ...           0           0           0           0
GCF_002833465.1  ...           0           0           0           0
...              ...         ...         ...         ...         ...
GCF_029069675.1  ...           0           0           0           0
GCF_029069745.1  ...           0           0           0           0
GCF_029069825.1  ...           0           0           0           0
GCF_029070195.1  ...           0           0           0           0
GCF_029075245.1  ...           1           1           1           1

aro             ARO:3005371 ARO:3006685 ARO:3001838 ARO:3007239 ARO:3006522  \
Unnamed: 0           KPC-39     PDC-315      ACT-17    MCR-1.22     PDC-145
GCF_002214205.1           0           0           0           0           0
GCF_002833425.1           0           0           0           0           0
GCF_002833445.1           0           0           0           0           0
GCF_002833465.1           0           0           0           0           0
...                     ...         ...         ...         ...         ...
GCF_029069675.1           0           0           0           0           0
GCF_029069745.1           0           0           0           0           0
GCF_029069825.1           0           0           0           0           0
GCF_029070195.1           0           0           0           0           0
GCF_029075245.1           1           1           1           1           1

aro             ARO:3006415
Unnamed: 0          ADC-245
GCF_002214205.1           0
GCF_002833425.1           0
GCF_002833445.1           0
GCF_002833465.1           0
...                     ...
GCF_029069675.1           0
GCF_029069745.1           0
GCF_029069825.1           0
GCF_029070195.1           0
GCF_029075245.1           1

[107 rows x 3566 columns]

Now we will get the CARD Ids intersection with IDs in mysterious city samples, only 157 were found.

In [5]:


# Create an empty column with the desired name
new_column = df_NCBI_genomes_AMR_CARD.index

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_NCBI_genomes_AMR_CARD.columns))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_NCBI_genomes_AMR_CARD = df_NCBI_genomes_AMR_CARD[common_columns]

# Print the updated DataFrames with only the common columns
# Assign the empty column as the first column in the DataFrame
df_NCBI_genomes_AMR_CARD.insert(0, 'db', new_column)
df_NCBI_genomes_AMR_CARD=df_NCBI_genomes_AMR_CARD.reset_index(drop=True)

print(df_NCBI_genomes_AMR_CARD)


# Print the DataFrame
#print(df_ET_BC_AMR_CARD)

aro               db ARO:3000216 ARO:3000676 ARO:3000873 ARO:3001338  \
0         Unnamed: 0        acrB        H-NS       TEM-1     SHV-100
1    GCF_002214205.1           1           1           1           0
2    GCF_002833425.1           1           1           1           0
3    GCF_002833445.1           1           1           1           0
4    GCF_002833465.1           1           1           1           0
..               ...         ...         ...         ...         ...
102  GCF_029069675.1           1           1           1           0
103  GCF_029069745.1           1           1           1           0
104  GCF_029069825.1           1           1           1           0
105  GCF_029070195.1           1           1           1           0
106  GCF_029075245.1           1           1           1           0

aro ARO:3002826 ARO:3001216 ARO:3001070 ARO:3003952 ARO:3003059  ...  \
0         EreA2        mdtH      SHV-11        YojI        tmrB  ...
1             1           1           0           1           1  ...
2             1           1           0           1           1  ...
3             1           1           0           1           1  ...
4             1           1           0           1           1  ...
..          ...         ...         ...         ...         ...  ...
102           1           1           0           1           1  ...
103           1           1           0           1           1  ...
104           1           1           0           1           1  ...
105           1           1           0           1           1  ...
106           1           1           0           1           1  ...

aro ARO:3002683 ARO:3005053 ARO:3000499 ARO:3000254 ARO:3000502 ARO:3002705  \
0          catI        ArnT        AcrE        emrY        AcrF        floR
1             1           1           1           1           1           1
2             1           1           1           1           1           1
3             1           1           1           1           1           1
4             1           1           1           1           1           1
..          ...         ...         ...         ...         ...         ...
102           1           1           1           1           1           1
103           1           1           1           1           1           0
104           1           1           1           1           1           1
105           1           1           1           1           1           1
106           1           1           1           1           1           1

aro ARO:3002831 ARO:3002137 ARO:3000833 ARO:3002357
0          vgaC       DHA-4        evgS       NDM-7
1             1           0           1           0
2             1           0           1           0
3             1           0           1           0
4             1           0           1           0
..          ...         ...         ...         ...
102           1           0           1           0
103           1           0           1           0
104           1           0           1           0
105           1           0           1           0
106           1           0           1           0

[107 rows x 157 columns]

Lets find all hits of the manually curated database 325 Ids were blastn against metagenomic samples

In [6]:
url2='https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/230624_genomes_blast_counts.tsv'

# Read the TSV file into a DataFrame
df_NCBI_genomes_AMR_BLASTn = pd.read_csv(url2, delimiter='\t', dtype={'002214205': str})
df_NCBI_genomes_AMR_BLASTn['db'] = "GCF_" + df_NCBI_genomes_AMR_BLASTn['002214205'].astype(str) + ".1"

# Create an empty column with the desired name
new_column = df_NCBI_genomes_AMR_BLASTn['db']

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_NCBI_genomes_AMR_BLASTn))

# Keep only the common columns in both DataFrames
df1 = df_CM_mysterious[common_columns]
df_NCBI_genomes_AMR_BLASTn= df_NCBI_genomes_AMR_BLASTn[common_columns]
# Transform DataFrame to boolean
df_boolean = df_NCBI_genomes_AMR_BLASTn.astype(bool)
# Convert boolean values back to numeric
df_NCBI_genomes_AMR_BLASTn = df_boolean.astype(int)


# Assign the empty column as the first column in the DataFrame
df_NCBI_genomes_AMR_BLASTn.insert(0, 'db', new_column)
df_NCBI_genomes_AMR_BLASTn=df_NCBI_genomes_AMR_BLASTn.reset_index(drop=True)

# Print the updated DataFrames with only the common columns
#print(df1)
print(df_NCBI_genomes_AMR_BLASTn)

                  db  pare  espx5  uhpt  hlyc  amph  ampc1  glpt  yagwecpd  \
0    GCF_002214205.1     0      0     0     0     0      1     0         0
1    GCF_002833425.1     0      0     0     0     0      0     0         0
2    GCF_002833445.1     0      0     0     0     0      0     0         0
3    GCF_002833465.1     0      0     0     0     0      0     0         0
4    GCF_002855915.1     0      0     0     0     0      0     0         0
..               ...   ...    ...   ...   ...   ...    ...   ...       ...
293  GCF_029069675.1     1      0     1     0     1      0     1         0
294  GCF_029069745.1     1      0     1     0     1      0     1         0
295  GCF_029069825.1     1      0     1     0     1      0     1         0
296  GCF_029070195.1     1      0     1     0     1      0     1         0
297  GCF_029075245.1     1      0     1     0     1      0     1         0

     yagzecpa  ...  oqxb32  ptxd  argr  entf  ybtt  catb  clbs  espy3  shux  \
0           0  ...       0     0     0     1     0     0     0      0     1
1           0  ...       0     0     0     0     0     0     0      0     0
2           0  ...       0     0     0     0     0     0     0      0     0
3           0  ...       0     0     0     0     0     0     0      0     0
4           0  ...       0     0     0     0     0     0     0      0     0
..        ...  ...     ...   ...   ...   ...   ...   ...   ...    ...   ...
293         0  ...       1     0     1     0     0     0     0      0     0
294         0  ...       1     0     1     0     0     0     0      0     0
295         0  ...       1     0     1     0     0     0     0      0     0
296         0  ...       1     0     1     0     0     0     0      0     0
297         0  ...       1     0     1     0     0     0     0      0     0

     pmrl
0       1
1       0
2       0
3       0
4       0
..    ...
293     0
294     0
295     0
296     0
297     0

[298 rows x 326 columns]

In this data set rows with same ID may came from different pangenome Set (clous, shell, persistance) for this analysis we will combine rows by OR operator ignoring its pangenome origin

In [7]:
print(df_NCBI_genomes_AMR_BLASTn)
# Group the DataFrame by 'ID' and apply the OR operator to each column
df_NCBI_genomes_blast_combined = df_NCBI_genomes_AMR_BLASTn.groupby('db').agg(lambda x: 1 if any(x.astype(bool)) else 0)

# Reset the index to convert the 'ID' column back to a regular column
df_NCBI_genomes_blast_combined.reset_index(inplace=True)
#print(df_NCBI_genomes_combined)

                  db  pare  espx5  uhpt  hlyc  amph  ampc1  glpt  yagwecpd  \
0    GCF_002214205.1     0      0     0     0     0      1     0         0
1    GCF_002833425.1     0      0     0     0     0      0     0         0
2    GCF_002833445.1     0      0     0     0     0      0     0         0
3    GCF_002833465.1     0      0     0     0     0      0     0         0
4    GCF_002855915.1     0      0     0     0     0      0     0         0
..               ...   ...    ...   ...   ...   ...    ...   ...       ...
293  GCF_029069675.1     1      0     1     0     1      0     1         0
294  GCF_029069745.1     1      0     1     0     1      0     1         0
295  GCF_029069825.1     1      0     1     0     1      0     1         0
296  GCF_029070195.1     1      0     1     0     1      0     1         0
297  GCF_029075245.1     1      0     1     0     1      0     1         0

     yagzecpa  ...  oqxb32  ptxd  argr  entf  ybtt  catb  clbs  espy3  shux  \
0           0  ...       0     0     0     1     0     0     0      0     1
1           0  ...       0     0     0     0     0     0     0      0     0
2           0  ...       0     0     0     0     0     0     0      0     0
3           0  ...       0     0     0     0     0     0     0      0     0
4           0  ...       0     0     0     0     0     0     0      0     0
..        ...  ...     ...   ...   ...   ...   ...   ...   ...    ...   ...
293         0  ...       1     0     1     0     0     0     0      0     0
294         0  ...       1     0     1     0     0     0     0      0     0
295         0  ...       1     0     1     0     0     0     0      0     0
296         0  ...       1     0     1     0     0     0     0      0     0
297         0  ...       1     0     1     0     0     0     0      0     0

     pmrl
0       1
1       0
2       0
3       0
4       0
..    ...
293     0
294     0
295     0
296     0
297     0

[298 rows x 326 columns]

Now lets horizontally combined the two datasets, so that for each city we will have 157+325 =482 AMR IDS

In [15]:
#print(df_ET_BC_AMR_BLASTn['db'])
#print(df_ET_BC_AMR_CARD['db'])
merged_NCBIGenomes_df = pd.merge(df_NCBI_genomes_blast_combined, df_NCBI_genomes_AMR_CARD, on='db')
merged_NCBIGenomes_df.rename(columns={'db': 'ID'}, inplace=True)
#print(merged_NCBIGenomes_df)

url='https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/genome-metadata.csv'

# Read the TSV file into a DataFrame
df_NCBI_genomes_metadata = pd.read_csv(url)
df_NCBI_genomes_metadata.rename(columns={'accession': 'ID'}, inplace=True)

merged_df = pd.merge(df_NCBI_genomes_metadata, merged_NCBIGenomes_df, on="ID")
merged_df.rename(columns={'city': 'City'}, inplace=True)
merged_df.rename(columns={'species': 'Species'}, inplace=True)
merged_df['City']=merged_df['City'].replace("New York", "NYC").replace("Minneapolis", "MIN").replace("Baltimore", "BAL").replace("San Antonio", "SAN")
merged_df['ID']=merged_df['City']+"_"+merged_df['Collection_date'].astype(str)+"_"+merged_df['ID']



print(merged_df)
 #ID                  Species        City
 #ID =

                           ID  Collection_date City                Species  \
0    NYC_2016_GCF_002214205.1             2016  NYC       Escherichia coli
1    MIN_2017_GCF_013423565.1             2017  MIN       Escherichia coli
2    MIN_2017_GCF_013423645.1             2017  MIN       Escherichia coli
3    NYC_2018_GCF_022569415.1             2018  NYC       Escherichia coli
4    NYC_2018_GCF_022812305.1             2018  NYC       Escherichia coli
..                        ...              ...  ...                    ...
100  NYC_2015_GCF_027584695.1             2015  NYC  Klebsiella pneumoniae
101  NYC_2015_GCF_027585065.1             2015  NYC  Klebsiella pneumoniae
102  NYC_2015_GCF_027585115.1             2015  NYC  Klebsiella pneumoniae
103  NYC_2015_GCF_027585155.1             2015  NYC  Klebsiella pneumoniae
104  NYC_2015_GCF_027585165.1             2015  NYC  Klebsiella pneumoniae

    included  pare  espx5  uhpt  hlyc  amph  ...  ARO:3002683  ARO:3005053  \
0        yes     1      0     1     0     1  ...            1            1
1        yes     1      1     1     0     1  ...            0            1
2        yes     1      1     1     0     1  ...            0            1
3        yes     1      1     1     0     1  ...            1            1
4        yes     1      1     1     0     1  ...            1            1
..       ...   ...    ...   ...   ...   ...  ...          ...          ...
100      yes     1      0     1     0     1  ...            1            1
101      yes     1      0     1     0     1  ...            1            1
102      yes     1      0     1     0     1  ...            1            1
103      yes     1      0     1     0     1  ...            1            1
104      yes     1      0     1     0     1  ...            1            1

     ARO:3000499  ARO:3000254  ARO:3000502  ARO:3002705  ARO:3002831  \
0              1            1            1            1            1
1              1            1            1            1            1
2              1            1            1            1            1
3              1            1            1            1            1
4              1            1            1            1            1
..           ...          ...          ...          ...          ...
100            1            1            1            1            1
101            1            1            1            1            1
102            1            1            1            1            1
103            1            1            1            1            1
104            1            1            1            1            1

     ARO:3002137  ARO:3000833  ARO:3002357
0              0            1            0
1              0            1            0
2              0            1            0
3              0            1            0
4              0            1            0
..           ...          ...          ...
100            0            1            0
101            0            1            0
102            0            1            0
103            0            1            0
104            0            1            0

[105 rows x 486 columns]

Now lets combine the 107 rows from genomes and ~480 AMR Ids with
~146 rows with ~505 AMR markers from mysterious city

Metadata from collected genomes

In [21]:
# merged_df NCBI samples with metadata
metadata_df = pd.concat([mysterious_df, merged_df], axis=0, ignore_index=True).fillna(0)
print(metadata_df)

                           ID                  Species        City  \
0                          S1  Enterobacter hormaechei  mysterious
1                          S2  Enterobacter hormaechei  mysterious
2                          S3  Enterobacter hormaechei  mysterious
3                          S4  Enterobacter hormaechei  mysterious
4                          S5  Enterobacter hormaechei  mysterious
..                        ...                      ...         ...
246  NYC_2015_GCF_027584695.1    Klebsiella pneumoniae         NYC
247  NYC_2015_GCF_027585065.1    Klebsiella pneumoniae         NYC
248  NYC_2015_GCF_027585115.1    Klebsiella pneumoniae         NYC
249  NYC_2015_GCF_027585155.1    Klebsiella pneumoniae         NYC
250  NYC_2015_GCF_027585165.1    Klebsiella pneumoniae         NYC

    AST-based group  ARO:3000167  ARO:3002847  mrkb  enta  fepa  ARO:3004122  \
0     3GC-resistant            0            0     0     0     0            0
1            CP CRE            0            0     0     0     0            0
2            CP CRE            0            0     0     0     0            0
3            CP CRE            0            0     0     1     0            0
4            CP CRE            0            0     0     0     0            0
..              ...          ...          ...   ...   ...   ...          ...
246               0            1            0     1     1     1            1
247               0            1            0     0     1     1            1
248               0            1            0     1     1     1            1
249               0            1            0     1     1     1            1
250               0            1            0     1     1     1            1

     ...  wcst  sfax  kpsd  mdlb  ARO:3001084  tssj  icmftssm  acrr  \
0    ...     0     0     0     0          0.0     0         0     0
1    ...     0     0     0     0          0.0     0         0     0
2    ...     0     0     0     0          0.0     0         0     0
3    ...     0     0     0     0          0.0     0         0     0
4    ...     0     0     0     0          0.0     0         0     0
..   ...   ...   ...   ...   ...          ...   ...       ...   ...
246  ...     0     0     0     1          0.0     0         0     1
247  ...     0     0     0     1          0.0     0         0     1
248  ...     0     0     0     1          0.0     0         0     1
249  ...     0     0     0     1          0.0     0         0     1
250  ...     0     0     0     1          0.0     0         0     1

     Collection_date  included
0                0.0         0
1                0.0         0
2                0.0         0
3                0.0         0
4                0.0         0
..               ...       ...
246           2015.0       yes
247           2015.0       yes
248           2015.0       yes
249           2015.0       yes
250           2015.0       yes

[251 rows x 511 columns]

In [22]:

# Assuming you have a DataFrame named df

# Export the DataFrame as a CSV file
csv_file_path = '230626_AMR_mysterious_NCBI_all_nelly.csv'
merged_df.to_csv(csv_file_path, index=False)

# Print the file paths
print("CSV file saved:", csv_file_path)

CSV file saved: 230626_AMR_mysterious_NCBI_all_nelly.csv