## AMR in genomes from NCBI and from mysterious city
First lets upload the mysterious city AMR presence-absence table
We have 143 genomes (rows) with 505 AMR markers detected

## Mysterious city

In [ ]:
import pandas as pd
## 505 combined CARD-manual Ids from mysterious samples
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/amr_mistery_table20230622_aroIds.tsv'

# Read the TSV file into a DataFrame
df_CM_mysterious = pd.read_csv(url, delimiter='\t')
# Rename the first column
df_CM_mysterious.columns.values[0] = 'ID'

# Print the DataFrame
print(df_CM_mysterious.head())

# Get the dimensions of the DataFrame
rows_df_CM_mysterious, columns_df_CM_mysterious = df_CM_mysterious.shape

# Print the dimensions
print("Number of rows:", rows_df_CM_mysterious)
print("Number of columns:", columns_df_CM_mysterious)
# Count non-zero values by row
non_zero_counts = (df_CM_mysterious != 0).sum(axis=1)

# Print the result
print(non_zero_counts)
#print (df)

   ID  ARO:3000167  ARO:3002847  mrkb  enta  fepa  ARO:3004122  cyca  csge  \
0  S1            0            0     0     0     0            0     1     0
1  S2            0            0     0     0     0            0     1     0
2  S3            0            0     0     0     0            0     1     0
3  S4            0            0     0     1     0            0     1     0
4  S5            0            0     0     0     0            0     1     0

   iucc  ...  teml100  scintssj  wcst  sfax  kpsd  mdlb  ARO:3001084  tssj  \
0     0  ...        0         0     0     0     0     0            0     0
1     0  ...        0         0     0     0     0     0            0     0
2     0  ...        0         0     0     0     0     0            0     0
3     0  ...        0         0     0     0     0     0            0     0
4     0  ...        0         0     0     0     0     0            0     0

   icmftssm  acrr
0         0     0
1         0     0
2         0     0
3         0     0
4         0     0

[5 rows x 506 columns]
Number of rows: 146
Number of columns: 506
0       74
1       79
2       85
3       85
4       76
      ...
141    125
142    126
143    126
144    118
145    115
Length: 146, dtype: int64

In [ ]:
## Adding metadata such as species to mysterious samples
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/01_preprocessing/amr_patterns.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_metadata_mysterious = pd.read_csv(url, delimiter='\t')
new_column = df_metadata_mysterious['ID']
df_metadata_mysterious.insert(2, 'City', new_column)
df_metadata_mysterious['City'] = 'mysterious'
df_metadata_mysterious=df_metadata_mysterious.iloc[:, :4]

# Print the DataFrame
#print(df_metadata_mysterious.head())
# Perform the join based on the 'Id' column
mysterious_df = pd.merge( df_metadata_mysterious,df_CM_mysterious, on='ID')

# Print the merged DataFrame
print(mysterious_df.head())

   ID                  Species        City AST-based group  ARO:3000167  \
0  S1  Enterobacter hormaechei  mysterious   3GC-resistant            0
1  S2  Enterobacter hormaechei  mysterious          CP CRE            0
2  S3  Enterobacter hormaechei  mysterious          CP CRE            0
3  S4  Enterobacter hormaechei  mysterious          CP CRE            0
4  S5  Enterobacter hormaechei  mysterious          CP CRE            0

   ARO:3002847  mrkb  enta  fepa  ARO:3004122  ...  teml100  scintssj  wcst  \
0            0     0     0     0            0  ...        0         0     0
1            0     0     0     0            0  ...        0         0     0
2            0     0     0     0            0  ...        0         0     0
3            0     0     1     0            0  ...        0         0     0
4            0     0     0     0            0  ...        0         0     0

   sfax  kpsd  mdlb  ARO:3001084  tssj  icmftssm  acrr
0     0     0     0            0     0         0     0
1     0     0     0            0     0         0     0
2     0     0     0            0     0         0     0
3     0     0     0            0     0         0     0
4     0     0     0            0     0         0     0

[5 rows x 509 columns]

Mysterious city has 146 sample 505 AMR markers

In [ ]:
# Getting consensus by city
## Pending

# Extract column 3

#df=mysterious_df
#df = df.drop(columns=[df.columns[0], df.columns[2], df.columns[3]])

#grouped = df.groupby('Species').agg(lambda x: x.mode().iloc[0])

# Print the result
#print(grouped)
# Count non-zero values by row
#non_zero_counts = (df != 0).sum(axis=1)

# Print the result
#print(non_zero_counts)
#print (df)

## AMR in Genomes  
### Selected from NCBI  
We found 3566 CARD Ids ( columns) not all of them are in the mysterious city samples.  
The 106 rows are the genus _Escherichia_, _Enterobacter_ and _Klebsiella_ in the 6 US cities were AMR CARD models were found.

In [ ]:

## CARD table for Extracted by Taxonomy , binned by city
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/230623_genomes_card_presence.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_NCBI_genomes_AMR_CARD = pd.read_csv(url, delimiter='\t').transpose()

# Get the values from the third row
third_row = df_NCBI_genomes_AMR_CARD.iloc[1]
df_NCBI_genomes_AMR_CARD.columns=third_row

# Add a prefix to column names
prefix = 'ARO:'  # Replace with the desired prefix
df_NCBI_genomes_AMR_CARD = df_NCBI_genomes_AMR_CARD.add_prefix(prefix)

# Remove a specific row by index
index_to_remove = 'aro'  # Replace with the index of the row you want to remove
df_NCBI_genomes_AMR_CARD = df_NCBI_genomes_AMR_CARD.drop(index_to_remove)


print(df_NCBI_genomes_AMR_CARD)

aro             ARO:3000535 ARO:3003665 ARO:3000620 ARO:3005091 ARO:3007433  \
Unnamed: 0             macB        NmcR        adeL        RanA        almE
GCF_002214205.1           1           1           1           1           1
GCF_002833425.1           1           1           1           1           1
GCF_002833445.1           1           1           1           1           1
GCF_002833465.1           1           1           1           1           1
...                     ...         ...         ...         ...         ...
GCF_029069675.1           1           1           1           1           1
GCF_029069745.1           1           1           1           1           1
GCF_029069825.1           1           1           1           1           1
GCF_029070195.1           1           1           1           1           1
GCF_029075245.1           1           1           1           1           1

aro             ARO:3000833 ARO:3005008 ARO:3000813 ARO:3004047 ARO:3002985  \
Unnamed: 0             evgS         TxR        MexS        kdpD        arnA
GCF_002214205.1           1           1           1           1           1
GCF_002833425.1           1           1           1           1           1
GCF_002833445.1           1           1           1           1           1
GCF_002833465.1           1           1           1           1           1
...                     ...         ...         ...         ...         ...
GCF_029069675.1           1           1           1           1           1
GCF_029069745.1           1           1           1           1           1
GCF_029069825.1           1           1           1           1           1
GCF_029070195.1           1           1           1           1           1
GCF_029075245.1           1           1           1           1           1

aro              ... ARO:3006843 ARO:3001659 ARO:3000950 ARO:3003622  \
Unnamed: 0       ...      PDC-58     OXA-175      TEM-83     OXA-466
GCF_002214205.1  ...           0           0           0           0
GCF_002833425.1  ...           0           0           0           0
GCF_002833445.1  ...           0           0           0           0
GCF_002833465.1  ...           0           0           0           0
...              ...         ...         ...         ...         ...
GCF_029069675.1  ...           0           0           0           0
GCF_029069745.1  ...           0           0           0           0
GCF_029069825.1  ...           0           0           0           0
GCF_029070195.1  ...           0           0           0           0
GCF_029075245.1  ...           1           1           1           1

aro             ARO:3005371 ARO:3006685 ARO:3001838 ARO:3007239 ARO:3006522  \
Unnamed: 0           KPC-39     PDC-315      ACT-17    MCR-1.22     PDC-145
GCF_002214205.1           0           0           0           0           0
GCF_002833425.1           0           0           0           0           0
GCF_002833445.1           0           0           0           0           0
GCF_002833465.1           0           0           0           0           0
...                     ...         ...         ...         ...         ...
GCF_029069675.1           0           0           0           0           0
GCF_029069745.1           0           0           0           0           0
GCF_029069825.1           0           0           0           0           0
GCF_029070195.1           0           0           0           0           0
GCF_029075245.1           1           1           1           1           1

aro             ARO:3006415
Unnamed: 0          ADC-245
GCF_002214205.1           0
GCF_002833425.1           0
GCF_002833445.1           0
GCF_002833465.1           0
...                     ...
GCF_029069675.1           0
GCF_029069745.1           0
GCF_029069825.1           0
GCF_029070195.1           0
GCF_029075245.1           1

[107 rows x 3566 columns]

Now we will get the CARD Ids intersection with IDs in mysterious city samples, only 157 were found.

In [ ]:


# Create an empty column with the desired name
new_column = df_NCBI_genomes_AMR_CARD.index

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_NCBI_genomes_AMR_CARD.columns))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_NCBI_genomes_AMR_CARD = df_NCBI_genomes_AMR_CARD[common_columns]

# Print the updated DataFrames with only the common columns
# Assign the empty column as the first column in the DataFrame
df_NCBI_genomes_AMR_CARD.insert(0, 'db', new_column)
df_NCBI_genomes_AMR_CARD=df_NCBI_genomes_AMR_CARD.reset_index(drop=True)

print(df_NCBI_genomes_AMR_CARD)


# Print the DataFrame
#print(df_ET_BC_AMR_CARD)

aro               db ARO:3003922 ARO:3002602 ARO:3005009 ARO:3001086  \
0         Unnamed: 0        oqxA       aadA2        qacE      SHV-28
1    GCF_002214205.1           1           1           1           0
2    GCF_002833425.1           1           0           1           1
3    GCF_002833445.1           1           0           1           1
4    GCF_002833465.1           1           0           1           1
..               ...         ...         ...         ...         ...
102  GCF_029069675.1           1           1           1           0
103  GCF_029069745.1           1           0           1           0
104  GCF_029069825.1           1           1           1           0
105  GCF_029070195.1           1           1           1           0
106  GCF_029075245.1           1           0           1           0

aro ARO:3003550 ARO:3001338 ARO:3002655 ARO:3002695 ARO:3000165  ...  \
0          mdtP     SHV-100   APH(4)-Ia       cmlA5      tet(A)  ...
1             1           0           1           1           1  ...
2             1           0           1           0           1  ...
3             1           0           1           0           1  ...
4             1           0           1           0           1  ...
..          ...         ...         ...         ...         ...  ...
102           1           0           1           0           1  ...
103           1           0           1           0           1  ...
104           1           0           1           0           1  ...
105           1           0           1           0           1  ...
106           1           0           1           0           1  ...

aro ARO:3000793 ARO:3005053  ARO:3002579 ARO:3003020 ARO:3003841 ARO:3000830  \
0          mdtB        ArnT  AAC(6')-Ib8      dfrA25        kdpE        cpxA
1             1           1            1           0           1           1
2             1           1            1           1           1           1
3             1           1            1           1           1           1
4             1           1            1           1           1           1
..          ...         ...          ...         ...         ...         ...
102           1           1            0           0           1           1
103           1           1            0           0           1           1
104           1           1            0           0           1           1
105           1           1            0           0           1           1
106           1           1            0           0           1           1

aro ARO:3002616 ARO:3001066 ARO:3002533 ARO:3000656
0        aadA16       SHV-7  AAC(3)-IIa        AcrS
1             1           0           1           1
2             1           0           1           1
3             1           0           1           1
4             1           0           1           1
..          ...         ...         ...         ...
102           1           0           1           1
103           1           0           1           1
104           1           0           1           1
105           1           0           1           1
106           1           0           1           1

[107 rows x 157 columns]

Lets find all hits of the manually curated database 325 Ids were blastn against metagenomic samples

In [ ]:
url2='https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/230624_genomes_blast_counts.tsv'

# Read the TSV file into a DataFrame
df_NCBI_genomes_AMR_BLASTn = pd.read_csv(url2, delimiter='\t', dtype={'002214205': str})
df_NCBI_genomes_AMR_BLASTn['db'] = "GCF_" + df_NCBI_genomes_AMR_BLASTn['002214205'].astype(str) + ".1"

# Create an empty column with the desired name
new_column = df_NCBI_genomes_AMR_BLASTn['db']

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_NCBI_genomes_AMR_BLASTn))

# Keep only the common columns in both DataFrames
df1 = df_CM_mysterious[common_columns]
df_NCBI_genomes_AMR_BLASTn= df_NCBI_genomes_AMR_BLASTn[common_columns]
# Transform DataFrame to boolean
df_boolean = df_NCBI_genomes_AMR_BLASTn.astype(bool)
# Convert boolean values back to numeric
df_NCBI_genomes_AMR_BLASTn = df_boolean.astype(int)


# Assign the empty column as the first column in the DataFrame
df_NCBI_genomes_AMR_BLASTn.insert(0, 'db', new_column)
df_NCBI_genomes_AMR_BLASTn=df_NCBI_genomes_AMR_BLASTn.reset_index(drop=True)

# Print the updated DataFrames with only the common columns
#print(df1)
print(df_NCBI_genomes_AMR_BLASTn)

                  db  chut  fha  wbbm  sfag  oqxb9  espy2  hcptssd  papd  \
0    GCF_002214205.1     1    1     0     0      0      1        0     0
1    GCF_002833425.1     0    0     0     0      0      0        0     0
2    GCF_002833445.1     0    0     0     0      0      0        0     0
3    GCF_002833465.1     0    0     0     0      0      0        0     0
4    GCF_002855915.1     0    0     0     0      0      0        0     0
..               ...   ...  ...   ...   ...    ...    ...      ...   ...
293  GCF_029069675.1     0    0     0     0      1      0        0     1
294  GCF_029069745.1     0    0     0     0      1      0        0     1
295  GCF_029069825.1     0    0     0     0      1      0        0     1
296  GCF_029070195.1     0    0     0     0      1      0        0     1
297  GCF_029075245.1     0    0     0     0      1      0        0     1

     acra  ...  gspd  kpse  silc  mcr9  pmrl  fosa9  gspe  chux  tle1  clbk
0       1  ...     0     1     1     0     1      0     0     1     0     0
1       0  ...     0     0     0     0     0      0     0     0     0     0
2       0  ...     0     0     0     0     0      0     0     0     0     0
3       0  ...     0     0     0     0     0      0     0     0     0     0
4       0  ...     0     0     0     0     0      0     0     0     0     0
..    ...  ...   ...   ...   ...   ...   ...    ...   ...   ...   ...   ...
293     1  ...     0     0     0     0     0      0     0     0     0     0
294     1  ...     0     0     0     0     0      0     0     0     0     0
295     1  ...     0     0     0     0     0      0     0     0     0     0
296     1  ...     0     0     0     0     0      0     0     0     0     0
297     1  ...     0     0     0     0     0      0     0     0     0     0

[298 rows x 326 columns]

In this data set rows with same ID may came from different pangenome Set (clous, shell, persistance) for this analysis we will combine rows by OR operator ignoring its pangenome origin

In [ ]:
print(df_NCBI_genomes_AMR_BLASTn)
# Group the DataFrame by 'ID' and apply the OR operator to each column
df_NCBI_genomes_blast_combined = df_NCBI_genomes_AMR_BLASTn.groupby('db').agg(lambda x: 1 if any(x.astype(bool)) else 0)

# Reset the index to convert the 'ID' column back to a regular column
df_NCBI_genomes_blast_combined.reset_index(inplace=True)
#print(df_NCBI_genomes_combined)

                  db  chut  fha  wbbm  sfag  oqxb9  espy2  hcptssd  papd  \
0    GCF_002214205.1     1    1     0     0      0      1        0     0
1    GCF_002833425.1     0    0     0     0      0      0        0     0
2    GCF_002833445.1     0    0     0     0      0      0        0     0
3    GCF_002833465.1     0    0     0     0      0      0        0     0
4    GCF_002855915.1     0    0     0     0      0      0        0     0
..               ...   ...  ...   ...   ...    ...    ...      ...   ...
293  GCF_029069675.1     0    0     0     0      1      0        0     1
294  GCF_029069745.1     0    0     0     0      1      0        0     1
295  GCF_029069825.1     0    0     0     0      1      0        0     1
296  GCF_029070195.1     0    0     0     0      1      0        0     1
297  GCF_029075245.1     0    0     0     0      1      0        0     1

     acra  ...  gspd  kpse  silc  mcr9  pmrl  fosa9  gspe  chux  tle1  clbk
0       1  ...     0     1     1     0     1      0     0     1     0     0
1       0  ...     0     0     0     0     0      0     0     0     0     0
2       0  ...     0     0     0     0     0      0     0     0     0     0
3       0  ...     0     0     0     0     0      0     0     0     0     0
4       0  ...     0     0     0     0     0      0     0     0     0     0
..    ...  ...   ...   ...   ...   ...   ...    ...   ...   ...   ...   ...
293     1  ...     0     0     0     0     0      0     0     0     0     0
294     1  ...     0     0     0     0     0      0     0     0     0     0
295     1  ...     0     0     0     0     0      0     0     0     0     0
296     1  ...     0     0     0     0     0      0     0     0     0     0
297     1  ...     0     0     0     0     0      0     0     0     0     0

[298 rows x 326 columns]

Now lets horizontally combined the two datasets, so that for each city we will have 157+325 =482 AMR IDS

In [ ]:

merged_NCBIGenomes_df = pd.merge(df_NCBI_genomes_blast_combined, df_NCBI_genomes_AMR_CARD, on='db')
merged_NCBIGenomes_df.rename(columns={'db': 'ID'}, inplace=True)

url='https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/genome-metadata.csv'

# Read the TSV file into a DataFrame
df_NCBI_genomes_metadata = pd.read_csv(url)
df_NCBI_genomes_metadata.rename(columns={'accession': 'ID'}, inplace=True)

merged_df = pd.merge(df_NCBI_genomes_metadata, merged_NCBIGenomes_df, on="ID")
merged_df.rename(columns={'city': 'City'}, inplace=True)
merged_df.rename(columns={'species': 'Species'}, inplace=True)
merged_df['City']=merged_df['City'].replace("New York", "NYC").replace("Minneapolis", "MIN").replace("Baltimore", "BAL").replace("San Antonio", "SAN")
merged_df['ID']=merged_df['City']+"_"+merged_df['Collection_date'].astype(str)+"_"+merged_df['ID']



print(merged_df)
 #ID                  Species        City
 #ID =

                           ID  Collection_date City                Species  \
0    NYC_2016_GCF_002214205.1             2016  NYC       Escherichia coli
1    MIN_2017_GCF_013423565.1             2017  MIN       Escherichia coli
2    MIN_2017_GCF_013423645.1             2017  MIN       Escherichia coli
3    NYC_2018_GCF_022569415.1             2018  NYC       Escherichia coli
4    NYC_2018_GCF_022812305.1             2018  NYC       Escherichia coli
..                        ...              ...  ...                    ...
100  NYC_2015_GCF_027584695.1             2015  NYC  Klebsiella pneumoniae
101  NYC_2015_GCF_027585065.1             2015  NYC  Klebsiella pneumoniae
102  NYC_2015_GCF_027585115.1             2015  NYC  Klebsiella pneumoniae
103  NYC_2015_GCF_027585155.1             2015  NYC  Klebsiella pneumoniae
104  NYC_2015_GCF_027585165.1             2015  NYC  Klebsiella pneumoniae

    included  chut  fha  wbbm  sfag  oqxb9  ...  ARO:3000793  ARO:3005053  \
0        yes     1    1     0     0      1  ...            1            1
1        yes     1    1     0     0      1  ...            1            1
2        yes     1    1     0     0      1  ...            1            1
3        yes     0    0     0     0      1  ...            1            1
4        yes     0    1     0     0      1  ...            1            1
..       ...   ...  ...   ...   ...    ...  ...          ...          ...
100      yes     0    0     0     0      1  ...            1            1
101      yes     0    0     0     0      1  ...            1            1
102      yes     0    0     0     0      1  ...            1            1
103      yes     0    0     0     0      1  ...            1            1
104      yes     0    0     0     0      1  ...            1            1

     ARO:3002579  ARO:3003020  ARO:3003841  ARO:3000830  ARO:3002616  \
0              1            0            1            1            1
1              1            0            1            1            1
2              1            0            1            1            1
3              1            0            1            1            1
4              1            0            1            1            1
..           ...          ...          ...          ...          ...
100            0            0            1            1            1
101            0            1            1            1            1
102            0            1            1            1            1
103            0            1            1            1            1
104            0            1            1            1            1

     ARO:3001066  ARO:3002533  ARO:3000656
0              0            1            1
1              0            1            1
2              0            1            1
3              0            1            1
4              0            1            1
..           ...          ...          ...
100            0            1            1
101            0            1            1
102            0            1            1
103            0            1            1
104            0            1            1

[105 rows x 486 columns]

NCBI Genomes has 105 samples with 486 AMR markers

Now lets combine the 107 rows from genomes and ~480 AMR Ids with
~146 rows with ~505 AMR markers from mysterious city

Metadata from collected genomes

In [ ]:
# merged_df NCBI samples with metadata
metadata_df = pd.concat([mysterious_df, merged_df], axis=0, ignore_index=True).fillna(0)
print(metadata_df)

                           ID                  Species        City  \
0                          S1  Enterobacter hormaechei  mysterious
1                          S2  Enterobacter hormaechei  mysterious
2                          S3  Enterobacter hormaechei  mysterious
3                          S4  Enterobacter hormaechei  mysterious
4                          S5  Enterobacter hormaechei  mysterious
..                        ...                      ...         ...
246  NYC_2015_GCF_027584695.1    Klebsiella pneumoniae         NYC
247  NYC_2015_GCF_027585065.1    Klebsiella pneumoniae         NYC
248  NYC_2015_GCF_027585115.1    Klebsiella pneumoniae         NYC
249  NYC_2015_GCF_027585155.1    Klebsiella pneumoniae         NYC
250  NYC_2015_GCF_027585165.1    Klebsiella pneumoniae         NYC

    AST-based group  ARO:3000167  ARO:3002847  mrkb  enta  fepa  ARO:3004122  \
0     3GC-resistant            0            0     0     0     0            0
1            CP CRE            0            0     0     0     0            0
2            CP CRE            0            0     0     0     0            0
3            CP CRE            0            0     0     1     0            0
4            CP CRE            0            0     0     0     0            0
..              ...          ...          ...   ...   ...   ...          ...
246               0            1            0     1     1     1            1
247               0            1            0     0     1     1            1
248               0            1            0     1     1     1            1
249               0            1            0     1     1     1            1
250               0            1            0     1     1     1            1

     ...  wcst  sfax  kpsd  mdlb  ARO:3001084  tssj  icmftssm  acrr  \
0    ...     0     0     0     0          0.0     0         0     0
1    ...     0     0     0     0          0.0     0         0     0
2    ...     0     0     0     0          0.0     0         0     0
3    ...     0     0     0     0          0.0     0         0     0
4    ...     0     0     0     0          0.0     0         0     0
..   ...   ...   ...   ...   ...          ...   ...       ...   ...
246  ...     0     0     0     1          0.0     0         0     1
247  ...     0     0     0     1          0.0     0         0     1
248  ...     0     0     0     1          0.0     0         0     1
249  ...     0     0     0     1          0.0     0         0     1
250  ...     0     0     0     1          0.0     0         0     1

     Collection_date  included
0                0.0         0
1                0.0         0
2                0.0         0
3                0.0         0
4                0.0         0
..               ...       ...
246           2015.0       yes
247           2015.0       yes
248           2015.0       yes
249           2015.0       yes
250           2015.0       yes

[251 rows x 511 columns]

Mysterious city and NCBI genomes combined has 251 samples with 511 columns

## AMR in metagenomes
### Extracted by taxonomy - Binned by city - Assembled - AMR profiled  
We found 492 CARD Ids ( columns) not all of them are in the mysterious city samples.
The 12 rows are the genus Escherichia, Enterobacter and Klebsiella in the 6 US cities were AMR CARD models were found.

In [ ]:

## CARD table for Extracted by Taxonomy , binned by city
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/230628_us_reads_card_counts.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_ET_BC_AMR_CARD = pd.read_csv(url, delimiter='\t').transpose()

# Get the values from the third row
third_row = df_ET_BC_AMR_CARD.iloc[1]
df_ET_BC_AMR_CARD.columns=third_row
# Add a prefix to column names
prefix = 'ARO:'  # Replace with the desired prefix
df_ET_BC_AMR_CARD = df_ET_BC_AMR_CARD.add_prefix(prefix)

# Remove a specific row by index
index_to_remove = 'aro'  # Replace with the index of the row you want to remove
df_ET_BC_AMR_CARD = df_ET_BC_AMR_CARD.drop(index_to_remove)


print(df_ET_BC_AMR_CARD)

aro        ARO:3000535 ARO:3000620 ARO:3003548  \
Unnamed: 0        macB        adeL        mdtN
BAL_En             5.0         4.0         3.0
BAL_Es             0.0         0.0         0.0
BAL_Kl             5.0         7.0         0.0
DEN_En             1.0         0.0         1.0
DEN_Es             0.0         0.0         0.0
DEN_Kl            69.0        52.0         6.0
MIN_En             0.0         1.0         0.0
MIN_Es             0.0         0.0         0.0
MIN_Kl             1.0         0.0         0.0
NYC_En           250.0       184.0        30.0
NYC_Es            16.0         8.0         4.0
NYC_Kl           156.0       137.0        19.0
SAC_En             0.0         1.0         0.0
SAC_Es             0.0         0.0         0.0
SAC_Kl             0.0         0.0         0.0
SAN_En             0.0         0.0         0.0
SAN_Es             3.0         2.0         0.0
SAN_Kl             0.0         0.0         0.0

aro                                               ARO:3003511 ARO:3000024  \
Unnamed: 0  Escherichia coli soxS with mutation conferring...        patA
BAL_En                                                    2.0         2.0
BAL_Es                                                    0.0         0.0
BAL_Kl                                                    3.0         1.0
DEN_En                                                    0.0         0.0
DEN_Es                                                    0.0         0.0
DEN_Kl                                                   10.0         1.0
MIN_En                                                    0.0         0.0
MIN_Es                                                    0.0         0.0
MIN_Kl                                                    0.0         0.0
NYC_En                                                   56.0         7.0
NYC_Es                                                    4.0         0.0
NYC_Kl                                                   31.0        10.0
SAC_En                                                    0.0         0.0
SAC_Es                                                    0.0         0.0
SAC_Kl                                                    0.0         0.0
SAN_En                                                    0.0         0.0
SAN_Es                                                    1.0         0.0
SAN_Kl                                                    0.0         0.0

aro        ARO:3005091                   ARO:3004573  \
Unnamed: 0        RanA  Acinetobacter baumannii AbaF
BAL_En             2.0                           2.0
BAL_Es             0.0                           0.0
BAL_Kl             7.0                           1.0
DEN_En             0.0                           0.0
DEN_Es             0.0                           0.0
DEN_Kl            50.0                          23.0
MIN_En             0.0                           0.0
MIN_Es             0.0                           0.0
MIN_Kl             0.0                           0.0
NYC_En           171.0                          72.0
NYC_Es            14.0                           4.0
NYC_Kl           109.0                          43.0
SAC_En             0.0                           1.0
SAC_Es             0.0                           0.0
SAC_Kl             0.0                           0.0
SAN_En             0.0                           0.0
SAN_Es             3.0                           0.0
SAN_Kl             0.0                           0.0

aro                                               ARO:3004562 ARO:3003980  \
Unnamed: 0  Clostridioides difficile gyrB conferring resis...    tetA(58)
BAL_En                                                    2.0         2.0
BAL_Es                                                    0.0         0.0
BAL_Kl                                                    2.0         5.0
DEN_En                                                    0.0         0.0
DEN_Es                                                    0.0         1.0
DEN_Kl                                                    3.0        34.0
MIN_En                                                    0.0         0.0
MIN_Es                                                    0.0         0.0
MIN_Kl                                                    0.0         0.0
NYC_En                                                   15.0        95.0
NYC_Es                                                    1.0         6.0
NYC_Kl                                                    9.0        55.0
SAC_En                                                    0.0         1.0
SAC_Es                                                    0.0         0.0
SAC_Kl                                                    0.0         0.0
SAN_En                                                    0.0         0.0
SAN_Es                                                    0.0         2.0
SAN_Kl                                                    0.0         0.0

aro        ARO:3000838  ... ARO:3002121                 ARO:3004572  \
Unnamed: 0        arlR  ...     CMY-109  Staphylococcus aureus LmrS
BAL_En             2.0  ...         0.0                         0.0
BAL_Es             0.0  ...         0.0                         0.0
BAL_Kl             0.0  ...         0.0                         0.0
DEN_En             0.0  ...         0.0                         0.0
DEN_Es             0.0  ...         0.0                         0.0
DEN_Kl             4.0  ...         0.0                         0.0
MIN_En             0.0  ...         0.0                         0.0
MIN_Es             0.0  ...         0.0                         0.0
MIN_Kl             0.0  ...         0.0                         0.0
NYC_En            18.0  ...         0.0                         0.0
NYC_Es             4.0  ...         0.0                         0.0
NYC_Kl            11.0  ...         1.0                         1.0
SAC_En             0.0  ...         0.0                         0.0
SAC_Es             0.0  ...         0.0                         0.0
SAC_Kl             0.0  ...         0.0                         0.0
SAN_En             0.0  ...         0.0                         0.0
SAN_Es             0.0  ...         0.0                         0.0
SAN_Kl             0.0  ...         0.0                         0.0

aro        ARO:3004584 ARO:3000183 ARO:3002463 ARO:3003250 ARO:3006239  \
Unnamed: 0     tet(50)      tet(Z)      LEN-13        bcrC      ACT-44
BAL_En             0.0         0.0         0.0         0.0         0.0
BAL_Es             0.0         0.0         0.0         0.0         0.0
BAL_Kl             0.0         0.0         0.0         0.0         0.0
DEN_En             0.0         0.0         0.0         0.0         0.0
DEN_Es             0.0         0.0         0.0         0.0         0.0
DEN_Kl             0.0         0.0         0.0         0.0         0.0
MIN_En             0.0         0.0         0.0         0.0         0.0
MIN_Es             0.0         0.0         0.0         0.0         0.0
MIN_Kl             0.0         0.0         0.0         0.0         0.0
NYC_En             0.0         0.0         0.0         0.0         0.0
NYC_Es             0.0         0.0         0.0         0.0         0.0
NYC_Kl             1.0         1.0         1.0         1.0         0.0
SAC_En             0.0         0.0         0.0         0.0         1.0
SAC_Es             0.0         0.0         0.0         0.0         0.0
SAC_Kl             0.0         0.0         0.0         0.0         0.0
SAN_En             0.0         0.0         0.0         0.0         0.0
SAN_Es             0.0         0.0         0.0         0.0         0.0
SAN_Kl             0.0         0.0         0.0         0.0         0.0

aro                                               ARO:3003941 ARO:3000250  \
Unnamed: 0  Shigella flexneri parC conferring resistance t...        ErmC
BAL_En                                                    0.0         0.0
BAL_Es                                                    0.0         0.0
BAL_Kl                                                    0.0         0.0
DEN_En                                                    0.0         0.0
DEN_Es                                                    0.0         0.0
DEN_Kl                                                    0.0         0.0
MIN_En                                                    0.0         0.0
MIN_Es                                                    0.0         0.0
MIN_Kl                                                    0.0         0.0
NYC_En                                                    0.0         0.0
NYC_Es                                                    0.0         0.0
NYC_Kl                                                    0.0         0.0
SAC_En                                                    0.0         0.0
SAC_Es                                                    0.0         0.0
SAC_Kl                                                    0.0         0.0
SAN_En                                                    0.0         0.0
SAN_Es                                                    1.0         1.0
SAN_Kl                                                    0.0         0.0

aro        ARO:3007282
Unnamed: 0     MCR-5.3
BAL_En             0.0
BAL_Es             0.0
BAL_Kl             0.0
DEN_En             0.0
DEN_Es             0.0
DEN_Kl             0.0
MIN_En             0.0
MIN_Es             0.0
MIN_Kl             0.0
NYC_En             0.0
NYC_Es             0.0
NYC_Kl             0.0
SAC_En             0.0
SAC_Es             0.0
SAC_Kl             0.0
SAN_En             0.0
SAN_Es             1.0
SAN_Kl             0.0

[19 rows x 545 columns]

Now we will get the CARD Ids intersection with IDs in mysterious city samples, only 78 were found.

In [ ]:
# Create an empty column with the desired name
new_column = df_ET_BC_AMR_CARD.index

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_ET_BC_AMR_CARD.columns))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_ET_BC_AMR_CARD = df_ET_BC_AMR_CARD[common_columns]

# Print the updated DataFrames with only the common columns
# Assign the empty column as the first column in the DataFrame
df_ET_BC_AMR_CARD.insert(0, 'db', new_column)
df_ET_BC_AMR_CARD=df_ET_BC_AMR_CARD.reset_index(drop=True)

print(df_ET_BC_AMR_CARD)


# Print the DataFrame
#print(df_ET_BC_AMR_CARD)

aro          db ARO:3003922 ARO:3005009 ARO:3003550 ARO:3000823 ARO:3000165  \
0    Unnamed: 0        oqxA        qacE        mdtP        ramA      tet(A)
1        BAL_En         1.0         0.0         1.0         0.0         0.0
2        BAL_Es         0.0         0.0         0.0         0.0         0.0
3        BAL_Kl         2.0         0.0         0.0         0.0         0.0
4        DEN_En         0.0         0.0         0.0         0.0         0.0
5        DEN_Es         0.0         0.0         0.0         0.0         0.0
6        DEN_Kl         1.0         0.0         5.0         3.0         0.0
7        MIN_En         0.0         0.0         0.0         0.0         0.0
8        MIN_Es         0.0         0.0         0.0         0.0         0.0
9        MIN_Kl         0.0         0.0         0.0         0.0         0.0
10       NYC_En        12.0         0.0         8.0        15.0         6.0
11       NYC_Es         1.0         0.0         3.0         0.0         0.0
12       NYC_Kl         8.0         1.0         8.0         6.0         0.0
13       SAC_En         0.0         0.0         0.0         0.0         0.0
14       SAC_Es         0.0         0.0         0.0         0.0         0.0
15       SAC_Kl         0.0         0.0         0.0         0.0         0.0
16       SAN_En         0.0         0.0         0.0         0.0         0.0
17       SAN_Es         0.0         0.0         1.0         0.0         0.0
18       SAN_Kl         0.0         0.0         0.0         0.0         0.0

aro ARO:3002660 ARO:3002858 ARO:3003923 ARO:3000263  ... ARO:3000216  \
0     APH(6)-Id      dfrA12        oqxB        marA  ...        acrB
1           0.0         0.0         1.0         0.0  ...         1.0
2           0.0         0.0         0.0         0.0  ...         0.0
3           0.0         0.0         1.0         1.0  ...         1.0
4           0.0         0.0         0.0         0.0  ...         0.0
5           0.0         0.0         0.0         0.0  ...         0.0
6           0.0         0.0         7.0         4.0  ...        10.0
7           0.0         0.0         0.0         0.0  ...         0.0
8           0.0         0.0         0.0         0.0  ...         0.0
9           0.0         0.0         0.0         0.0  ...         0.0
10          0.0         1.0        40.0        17.0  ...        63.0
11          1.0         0.0         1.0         1.0  ...         4.0
12          1.0         0.0         7.0         8.0  ...        31.0
13          0.0         0.0         0.0         0.0  ...         0.0
14          0.0         0.0         0.0         0.0  ...         0.0
15          0.0         0.0         0.0         0.0  ...         0.0
16          0.0         0.0         0.0         0.0  ...         0.0
17          0.0         0.0         0.0         1.0  ...         1.0
18          0.0         0.0         0.0         0.0  ...         0.0

aro ARO:3002683 ARO:3000074 ARO:3003549 ARO:3000793 ARO:3005053  ARO:3002579  \
0          catI        emrB        mdtO        mdtB        ArnT  AAC(6')-Ib8
1           0.0         0.0         0.0         0.0         0.0          0.0
2           0.0         0.0         0.0         0.0         0.0          0.0
3           0.0         2.0         1.0         2.0         1.0          0.0
4           0.0         0.0         0.0         0.0         0.0          0.0
5           0.0         0.0         0.0         0.0         0.0          0.0
6           0.0         8.0         4.0         9.0         5.0          0.0
7           0.0         0.0         0.0         0.0         0.0          0.0
8           0.0         0.0         0.0         0.0         0.0          0.0
9           0.0         0.0         0.0         0.0         0.0          0.0
10          1.0        26.0         0.0        25.0         7.0          1.0
11          0.0         5.0         1.0         3.0         0.0          1.0
12          0.0        21.0         3.0        25.0         8.0          1.0
13          0.0         0.0         0.0         0.0         0.0          0.0
14          0.0         0.0         0.0         0.0         0.0          0.0
15          0.0         0.0         0.0         0.0         0.0          0.0
16          0.0         0.0         0.0         0.0         0.0          0.0
17          0.0         0.0         3.0         1.0         0.0          0.0
18          0.0         0.0         0.0         0.0         0.0          0.0

aro ARO:3000830 ARO:3003841 ARO:3000656
0          cpxA        kdpE        AcrS
1           1.0         0.0         0.0
2           0.0         0.0         0.0
3           2.0         0.0         0.0
4           0.0         0.0         0.0
5           0.0         0.0         0.0
6           7.0         6.0         1.0
7           0.0         0.0         0.0
8           0.0         0.0         0.0
9           0.0         0.0         0.0
10         39.0        15.0         6.0
11          4.0         2.0         0.0
12         20.0         9.0         5.0
13          0.0         0.0         0.0
14          0.0         0.0         0.0
15          0.0         0.0         0.0
16          0.0         0.0         0.0
17          2.0         1.0         0.0
18          0.0         0.0         0.0

[19 rows x 79 columns]

Lets find all hits of the manually curated database 325 Ids were blastn against metagenomic samples

In [ ]:
url2='https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/amr_counts_complement_a3_20230629.tsv'

# Read the TSV file into a DataFrame
df_ET_BC_AMR_BLASTn = pd.read_csv(url2, delimiter='\t')
df_ET_BC_AMR_BLASTn['db'] = df_ET_BC_AMR_BLASTn['db'].str.split('.').str[0]

# Create an empty column with the desired name
new_column = df_ET_BC_AMR_BLASTn['db']

# Print the DataFrame
#print(df_ET_BC_AMR_BLASTn)

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_ET_BC_AMR_BLASTn))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_ET_BC_AMR_BLASTn= df_ET_BC_AMR_BLASTn[common_columns]
# Transform DataFrame to boolean
df_boolean = df_ET_BC_AMR_BLASTn.astype(bool)
# Convert boolean values back to numeric
df_ET_BC_AMR_BLASTn = df_boolean.astype(int)


# Assign the empty column as the first column in the DataFrame
df_ET_BC_AMR_BLASTn.insert(0, 'db', new_column)
df_ET_BC_AMR_BLASTn=df_ET_BC_AMR_BLASTn.reset_index(drop=True)

# Print the updated DataFrames with only the common columns
#print(df1)
print(df_ET_BC_AMR_BLASTn)

        db  chut  fha  wbbm  sfag  oqxb9  espy2  hcptssd  papd  acra  ...  \
0   BAL_En     0    0     0     0      1      0        0     0     0  ...
1   BAL_Es     0    0     0     0      0      0        0     0     0  ...
2   BAL_Kl     0    0     0     0      1      0        0     0     0  ...
3   DEN_En     0    0     0     0      0      0        0     0     0  ...
4   DEN_Es     0    0     0     0      0      0        0     0     0  ...
5   DEN_Kl     0    0     0     0      1      0        0     1     1  ...
6   MIN_En     0    0     0     0      0      0        0     0     0  ...
7   NYC_En     0    0     0     0      1      0        0     1     1  ...
8   NYC_Es     0    1     0     0      0      1        0     0     1  ...
9   NYC_Kl     0    0     0     0      1      0        0     1     1  ...
10  SAC_En     0    0     0     0      0      0        0     0     0  ...
11  SAC_Kl     0    0     0     0      0      0        0     0     0  ...
12  SAN_Es     0    0     0     0      0      0        0     0     1  ...
13  SAN_Kl     0    0     0     0      0      0        0     0     0  ...
14  MIN_Es     0    0     0     0      0      0        0     0     0  ...
15  MIN_Kl     0    0     0     0      0      0        0     0     0  ...
16  SAC_Es     0    0     0     0      0      0        0     0     0  ...
17  SAN_En     0    0     0     0      0      0        0     0     0  ...

    gspd  kpse  silc  mcr9  pmrl  fosa9  gspe  chux  tle1  clbk
0      0     0     0     0     0      0     0     0     0     0
1      0     0     0     0     0      0     0     0     0     0
2      0     0     0     0     0      0     0     0     0     0
3      0     0     0     0     0      0     0     0     0     0
4      0     0     0     0     0      0     0     0     0     0
5      0     0     1     0     0      1     0     0     0     0
6      0     0     0     0     0      0     0     0     0     0
7      0     0     1     0     0      0     0     0     0     0
8      0     0     1     0     0      0     0     0     0     1
9      0     0     1     1     0      1     0     0     0     0
10     0     0     0     0     0      0     0     0     0     0
11     0     0     0     0     0      0     0     0     0     0
12     0     0     0     0     0      0     0     0     0     0
13     0     0     0     0     0      0     0     0     0     0
14     0     0     0     0     0      0     0     0     0     0
15     0     0     0     0     0      0     0     0     0     0
16     0     0     0     0     0      0     0     0     0     0
17     0     0     0     0     0      0     0     0     0     0

[18 rows x 326 columns]

Now lets horizontally combined the two datasets, so that for each city we will have 78+325 =403 AMR IDS

In [ ]:
#print(df_ET_BC_AMR_BLASTn['db'])
#print(df_ET_BC_AMR_CARD['db'])
merged_ETBCMet_df = pd.merge(df_ET_BC_AMR_BLASTn, df_ET_BC_AMR_CARD, on='db')
merged_ETBCMet_df.rename(columns={'db': 'ID'}, inplace=True)
print(merged_ETBCMet_df)

        ID  chut  fha  wbbm  sfag  oqxb9  espy2  hcptssd  papd  acra  ...  \
0   BAL_En     0    0     0     0      1      0        0     0     0  ...
1   BAL_Es     0    0     0     0      0      0        0     0     0  ...
2   BAL_Kl     0    0     0     0      1      0        0     0     0  ...
3   DEN_En     0    0     0     0      0      0        0     0     0  ...
4   DEN_Es     0    0     0     0      0      0        0     0     0  ...
5   DEN_Kl     0    0     0     0      1      0        0     1     1  ...
6   MIN_En     0    0     0     0      0      0        0     0     0  ...
7   NYC_En     0    0     0     0      1      0        0     1     1  ...
8   NYC_Es     0    1     0     0      0      1        0     0     1  ...
9   NYC_Kl     0    0     0     0      1      0        0     1     1  ...
10  SAC_En     0    0     0     0      0      0        0     0     0  ...
11  SAC_Kl     0    0     0     0      0      0        0     0     0  ...
12  SAN_Es     0    0     0     0      0      0        0     0     1  ...
13  SAN_Kl     0    0     0     0      0      0        0     0     0  ...
14  MIN_Es     0    0     0     0      0      0        0     0     0  ...
15  MIN_Kl     0    0     0     0      0      0        0     0     0  ...
16  SAC_Es     0    0     0     0      0      0        0     0     0  ...
17  SAN_En     0    0     0     0      0      0        0     0     0  ...

    ARO:3000216  ARO:3002683  ARO:3000074  ARO:3003549  ARO:3000793  \
0           1.0          0.0          0.0          0.0          0.0
1           0.0          0.0          0.0          0.0          0.0
2           1.0          0.0          2.0          1.0          2.0
3           0.0          0.0          0.0          0.0          0.0
4           0.0          0.0          0.0          0.0          0.0
5          10.0          0.0          8.0          4.0          9.0
6           0.0          0.0          0.0          0.0          0.0
7          63.0          1.0         26.0          0.0         25.0
8           4.0          0.0          5.0          1.0          3.0
9          31.0          0.0         21.0          3.0         25.0
10          0.0          0.0          0.0          0.0          0.0
11          0.0          0.0          0.0          0.0          0.0
12          1.0          0.0          0.0          3.0          1.0
13          0.0          0.0          0.0          0.0          0.0
14          0.0          0.0          0.0          0.0          0.0
15          0.0          0.0          0.0          0.0          0.0
16          0.0          0.0          0.0          0.0          0.0
17          0.0          0.0          0.0          0.0          0.0

    ARO:3005053  ARO:3002579  ARO:3000830  ARO:3003841  ARO:3000656
0           0.0          0.0          1.0          0.0          0.0
1           0.0          0.0          0.0          0.0          0.0
2           1.0          0.0          2.0          0.0          0.0
3           0.0          0.0          0.0          0.0          0.0
4           0.0          0.0          0.0          0.0          0.0
5           5.0          0.0          7.0          6.0          1.0
6           0.0          0.0          0.0          0.0          0.0
7           7.0          1.0         39.0         15.0          6.0
8           0.0          1.0          4.0          2.0          0.0
9           8.0          1.0         20.0          9.0          5.0
10          0.0          0.0          0.0          0.0          0.0
11          0.0          0.0          0.0          0.0          0.0
12          0.0          0.0          2.0          1.0          0.0
13          0.0          0.0          0.0          0.0          0.0
14          0.0          0.0          0.0          0.0          0.0
15          0.0          0.0          0.0          0.0          0.0
16          0.0          0.0          0.0          0.0          0.0
17          0.0          0.0          0.0          0.0          0.0

[18 rows x 404 columns]

In [ ]:
new_column1 =merged_ETBCMet_df['ID'].str.split('_').str[0]
new_column2 =merged_ETBCMet_df['ID'].str.split('_').str[1].replace("En", "Enterobacter hormaechei").replace("Es", "Escherichia coli").replace("Kl", "Klebsiella pneumoniae")

merged_ETBCMet_df.insert(1, 'Species', new_column2)
merged_ETBCMet_df.insert(2, 'City', new_column1)

merged_ETBCMet_df=merged_ETBCMet_df.reset_index(drop=True)
#merged_COA_df=merged_COA_df.iloc[:, :3]
print(merged_ETBCMet_df)

        ID                  Species City  chut  fha  wbbm  sfag  oqxb9  espy2  \
0   BAL_En  Enterobacter hormaechei  BAL     0    0     0     0      1      0
1   BAL_Es         Escherichia coli  BAL     0    0     0     0      0      0
2   BAL_Kl    Klebsiella pneumoniae  BAL     0    0     0     0      1      0
3   DEN_En  Enterobacter hormaechei  DEN     0    0     0     0      0      0
4   DEN_Es         Escherichia coli  DEN     0    0     0     0      0      0
5   DEN_Kl    Klebsiella pneumoniae  DEN     0    0     0     0      1      0
6   MIN_En  Enterobacter hormaechei  MIN     0    0     0     0      0      0
7   NYC_En  Enterobacter hormaechei  NYC     0    0     0     0      1      0
8   NYC_Es         Escherichia coli  NYC     0    1     0     0      0      1
9   NYC_Kl    Klebsiella pneumoniae  NYC     0    0     0     0      1      0
10  SAC_En  Enterobacter hormaechei  SAC     0    0     0     0      0      0
11  SAC_Kl    Klebsiella pneumoniae  SAC     0    0     0     0      0      0
12  SAN_Es         Escherichia coli  SAN     0    0     0     0      0      0
13  SAN_Kl    Klebsiella pneumoniae  SAN     0    0     0     0      0      0
14  MIN_Es         Escherichia coli  MIN     0    0     0     0      0      0
15  MIN_Kl    Klebsiella pneumoniae  MIN     0    0     0     0      0      0
16  SAC_Es         Escherichia coli  SAC     0    0     0     0      0      0
17  SAN_En  Enterobacter hormaechei  SAN     0    0     0     0      0      0

    hcptssd  ...  ARO:3000216  ARO:3002683  ARO:3000074  ARO:3003549  \
0         0  ...          1.0          0.0          0.0          0.0
1         0  ...          0.0          0.0          0.0          0.0
2         0  ...          1.0          0.0          2.0          1.0
3         0  ...          0.0          0.0          0.0          0.0
4         0  ...          0.0          0.0          0.0          0.0
5         0  ...         10.0          0.0          8.0          4.0
6         0  ...          0.0          0.0          0.0          0.0
7         0  ...         63.0          1.0         26.0          0.0
8         0  ...          4.0          0.0          5.0          1.0
9         0  ...         31.0          0.0         21.0          3.0
10        0  ...          0.0          0.0          0.0          0.0
11        0  ...          0.0          0.0          0.0          0.0
12        0  ...          1.0          0.0          0.0          3.0
13        0  ...          0.0          0.0          0.0          0.0
14        0  ...          0.0          0.0          0.0          0.0
15        0  ...          0.0          0.0          0.0          0.0
16        0  ...          0.0          0.0          0.0          0.0
17        0  ...          0.0          0.0          0.0          0.0

    ARO:3000793  ARO:3005053  ARO:3002579  ARO:3000830  ARO:3003841  \
0           0.0          0.0          0.0          1.0          0.0
1           0.0          0.0          0.0          0.0          0.0
2           2.0          1.0          0.0          2.0          0.0
3           0.0          0.0          0.0          0.0          0.0
4           0.0          0.0          0.0          0.0          0.0
5           9.0          5.0          0.0          7.0          6.0
6           0.0          0.0          0.0          0.0          0.0
7          25.0          7.0          1.0         39.0         15.0
8           3.0          0.0          1.0          4.0          2.0
9          25.0          8.0          1.0         20.0          9.0
10          0.0          0.0          0.0          0.0          0.0
11          0.0          0.0          0.0          0.0          0.0
12          1.0          0.0          0.0          2.0          1.0
13          0.0          0.0          0.0          0.0          0.0
14          0.0          0.0          0.0          0.0          0.0
15          0.0          0.0          0.0          0.0          0.0
16          0.0          0.0          0.0          0.0          0.0
17          0.0          0.0          0.0          0.0          0.0

    ARO:3000656
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
5           1.0
6           0.0
7           6.0
8           0.0
9           5.0
10          0.0
11          0.0
12          0.0
13          0.0
14          0.0
15          0.0
16          0.0
17          0.0

[18 rows x 406 columns]

## Coassembled by city - Extracted by taxonomy - AMR profiled
We found 549 CARD Ids ( columns) not all of them are in the mysterious city samples.
The 19 rows are the genus Escherichia, Enterobacter and Klebsiella in the 6 US cities were AMR CARD models were found.

In [ ]:
## CARD table for Extracted by Taxonomy , binned by city
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/230628_us_coassemblies_card_presence.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_COA_CARD = pd.read_csv(url, delimiter='\t').transpose()

# Get the values from the third row
third_row = df_COA_CARD.iloc[1]
df_COA_CARD.columns=third_row
# Add a prefix to column names
prefix = 'ARO:'  # Replace with the desired prefix
df_COA_CARD = df_COA_CARD.add_prefix(prefix)

#df_COA_CARD.iloc[:, 0] = df_COA_CARD.iloc[:, 0].add_suffix('_COA')
df_COA_CARD = df_COA_CARD.rename(lambda x: str(x) + '_COA', axis='index')


# Remove a specific row by index
index_to_remove = 'aro_COA'  # Replace with the index of the row you want to remove
df_COA_CARD = df_COA_CARD.drop(index_to_remove)


print(df_COA_CARD)
#print( df_COA_CARD.index.tolist())

aro            ARO:3000620                   ARO:3004573 ARO:3003583  \
Unnamed: 0_COA        adeL  Acinetobacter baumannii AbaF        basS
BAL_En_COA               1                             1           1
BAL_Es_COA               1                             0           0
BAL_Kl_COA               1                             1           1
DEN_En_COA               1                             0           0
DEN_Es_COA               0                             0           0
DEN_Kl_COA               1                             1           1
MIN_En_COA               0                             0           0
MIN_Es_COA               1                             0           0
MIN_Kl_COA               1                             0           0
NYC_En_COA               1                             1           1
NYC_Es_COA               1                             1           1
NYC_Kl_COA               1                             1           1
SAC_En_COA               1                             0           0
SAC_Es_COA               0                             0           0
SAC_Kl_COA               0                             0           0
SAN_En_COA               0                             0           0
SAN_Es_COA               1                             1           0
SAN_Kl_COA               1                             0           0

aro            ARO:3003051 ARO:3000024  \
Unnamed: 0_COA        smeA        patA
BAL_En_COA               1           1
BAL_Es_COA               0           0
BAL_Kl_COA               0           0
DEN_En_COA               0           1
DEN_Es_COA               0           1
DEN_Kl_COA               1           1
MIN_En_COA               0           0
MIN_Es_COA               0           0
MIN_Kl_COA               0           0
NYC_En_COA               1           1
NYC_Es_COA               0           1
NYC_Kl_COA               1           1
SAC_En_COA               0           0
SAC_Es_COA               0           0
SAC_Kl_COA               0           0
SAN_En_COA               0           0
SAN_Es_COA               0           1
SAN_Kl_COA               0           0

aro                                                   ARO:3003511 ARO:3003980  \
Unnamed: 0_COA  Escherichia coli soxS with mutation conferring...    tetA(58)
BAL_En_COA                                                      1           1
BAL_Es_COA                                                      0           0
BAL_Kl_COA                                                      1           1
DEN_En_COA                                                      0           1
DEN_Es_COA                                                      0           1
DEN_Kl_COA                                                      1           1
MIN_En_COA                                                      0           1
MIN_Es_COA                                                      0           0
MIN_Kl_COA                                                      0           0
NYC_En_COA                                                      1           1
NYC_Es_COA                                                      1           1
NYC_Kl_COA                                                      1           1
SAC_En_COA                                                      0           0
SAC_Es_COA                                                      0           0
SAC_Kl_COA                                                      0           0
SAN_En_COA                                                      0           0
SAN_Es_COA                                                      1           1
SAN_Kl_COA                                                      0           1

aro            ARO:3000830 ARO:3003746 ARO:3003548  ... ARO:3000478  \
Unnamed: 0_COA        cpxA       optrA        mdtN  ...     tet(33)
BAL_En_COA               1           1           1  ...           0
BAL_Es_COA               0           0           0  ...           0
BAL_Kl_COA               1           0           0  ...           0
DEN_En_COA               1           0           0  ...           0
DEN_Es_COA               0           0           0  ...           0
DEN_Kl_COA               1           1           1  ...           0
MIN_En_COA               0           0           0  ...           0
MIN_Es_COA               0           0           0  ...           0
MIN_Kl_COA               0           0           0  ...           0
NYC_En_COA               1           1           1  ...           0
NYC_Es_COA               1           1           1  ...           0
NYC_Kl_COA               1           1           1  ...           1
SAC_En_COA               0           0           0  ...           0
SAC_Es_COA               0           0           0  ...           0
SAC_Kl_COA               0           0           1  ...           0
SAN_En_COA               0           0           0  ...           0
SAN_Es_COA               0           1           1  ...           0
SAN_Kl_COA               0           0           0  ...           0

aro            ARO:3007043 ARO:3004100  ARO:3007119 ARO:3006267 ARO:3001751  \
Unnamed: 0_COA      msr(I)        LpeB  tet(O/32/O)      ACT-73     OXA-296
BAL_En_COA               0           0            0           0           0
BAL_Es_COA               0           0            0           0           0
BAL_Kl_COA               0           0            0           0           0
DEN_En_COA               0           0            0           0           0
DEN_Es_COA               0           0            0           0           0
DEN_Kl_COA               0           0            0           0           0
MIN_En_COA               0           0            0           0           0
MIN_Es_COA               0           0            0           0           0
MIN_Kl_COA               0           0            0           0           0
NYC_En_COA               0           0            0           0           0
NYC_Es_COA               0           0            0           0           0
NYC_Kl_COA               1           1            1           0           0
SAC_En_COA               0           0            0           1           0
SAC_Es_COA               0           0            0           0           1
SAC_Kl_COA               0           0            0           0           0
SAN_En_COA               0           0            0           0           0
SAN_Es_COA               0           0            0           0           0
SAN_Kl_COA               0           0            0           0           0

aro            ARO:3002658 ARO:3002191 ARO:3004094 ARO:3004336
Unnamed: 0_COA   APH(6)-Ib       MOX-9     Erm(48)      PDC-73
BAL_En_COA               0           0           0           0
BAL_Es_COA               0           0           0           0
BAL_Kl_COA               0           0           0           0
DEN_En_COA               0           0           0           0
DEN_Es_COA               0           0           0           0
DEN_Kl_COA               0           0           0           0
MIN_En_COA               0           0           0           0
MIN_Es_COA               0           0           0           0
MIN_Kl_COA               0           0           0           0
NYC_En_COA               0           0           0           0
NYC_Es_COA               0           0           0           0
NYC_Kl_COA               0           0           0           0
SAC_En_COA               0           0           0           0
SAC_Es_COA               0           0           0           0
SAC_Kl_COA               1           0           0           0
SAN_En_COA               0           0           0           0
SAN_Es_COA               0           1           1           1
SAN_Kl_COA               0           0           0           0

[19 rows x 549 columns]

CARD **intersection** gives 80 common columns (CARD IDs) with mysterious sample

In [ ]:

# Create an empty column with the desired name
new_column = df_COA_CARD.index

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_COA_CARD.columns))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_COA_CARD = df_COA_CARD[common_columns]

# Print the updated DataFrames with only the common columns
# Assign the empty column as the first column in the DataFrame
df_COA_CARD.insert(0, 'db', new_column)
df_COA_CARD=df_COA_CARD.reset_index(drop=True)

print(df_COA_CARD)


# Print the DataFrame
#print(df_COA_CARD)

aro              db ARO:3003922 ARO:3005009 ARO:3003550 ARO:3000823  \
0    Unnamed: 0_COA        oqxA        qacE        mdtP        ramA
1        BAL_En_COA           0           0           1           0
2        BAL_Es_COA           0           0           0           0
3        BAL_Kl_COA           1           0           0           0
4        DEN_En_COA           0           0           0           0
5        DEN_Es_COA           0           0           0           0
6        DEN_Kl_COA           1           0           1           1
7        MIN_En_COA           1           0           0           0
8        MIN_Es_COA           0           0           0           0
9        MIN_Kl_COA           0           0           0           0
10       NYC_En_COA           1           0           1           1
11       NYC_Es_COA           1           1           1           0
12       NYC_Kl_COA           1           1           1           1
13       SAC_En_COA           0           0           0           0
14       SAC_Es_COA           0           0           0           0
15       SAC_Kl_COA           0           0           0           0
16       SAN_En_COA           0           0           0           0
17       SAN_Es_COA           0           0           1           0
18       SAN_Kl_COA           0           0           0           0

aro ARO:3000165 ARO:3002660 ARO:3003923 ARO:3000263 ARO:3003578  ...  \
0        tet(A)   APH(6)-Id        oqxB        marA        PmrF  ...
1             0           0           0           0           0  ...
2             0           1           0           0           0  ...
3             0           0           1           1           1  ...
4             0           0           0           0           0  ...
5             0           1           0           0           0  ...
6             0           0           1           1           1  ...
7             0           0           0           0           0  ...
8             0           0           0           0           0  ...
9             0           0           0           0           0  ...
10            1           0           1           1           1  ...
11            0           1           0           1           1  ...
12            0           0           1           1           1  ...
13            0           0           0           0           0  ...
14            0           0           0           0           0  ...
15            0           0           0           0           0  ...
16            0           0           0           0           0  ...
17            0           1           0           1           0  ...
18            0           0           0           0           0  ...

aro ARO:3003049 ARO:3002683 ARO:3000074 ARO:3003549 ARO:3000793 ARO:3005053  \
0          rosB        catI        emrB        mdtO        mdtB        ArnT
1             1           0           1           0           0           0
2             1           0           0           0           0           0
3             1           0           0           1           1           0
4             0           0           0           0           1           0
5             0           0           0           0           0           1
6             1           0           1           1           1           1
7             0           0           0           0           0           0
8             0           0           0           0           0           0
9             0           0           0           0           0           0
10            1           1           1           0           1           1
11            1           0           1           1           1           1
12            1           0           1           1           1           1
13            0           0           0           0           0           0
14            0           0           0           0           0           0
15            0           0           0           0           0           0
16            0           0           0           0           0           0
17            1           0           1           1           1           1
18            0           0           0           0           0           0

aro  ARO:3002579 ARO:3000830 ARO:3003841 ARO:3000656
0    AAC(6')-Ib8        cpxA        kdpE        AcrS
1              0           1           0           0
2              0           0           0           0
3              1           1           0           0
4              0           1           0           1
5              0           0           0           0
6              1           1           1           1
7              0           0           0           0
8              0           0           0           0
9              0           0           0           0
10             0           1           1           1
11             0           1           1           1
12             1           1           1           1
13             0           0           0           0
14             0           0           0           0
15             0           0           0           0
16             0           0           0           0
17             0           0           1           0
18             0           0           0           0

[19 rows x 81 columns]

Lets find all hits of the manually curated database 325 Ids were blastn against metagenomic samples

In [ ]:

url2='https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/amr_counts_complement_b3_20230629.tsv'

# Read the TSV file into a DataFrame
df_COA_BLASTn = pd.read_csv(url2, delimiter='\t')
df_COA_BLASTn['db'] = df_COA_BLASTn['db'].str.split('.').str[0]

# Create an empty column with the desired name
new_column = df_COA_BLASTn['db']+ '_COA'

#df_COA_BLASTn = df_COA_BLASTn.rename(lambda x: str(x) + '_COA', axis='index')

# Print the DataFrame
#print(df_COA_BLASTn)

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_COA_BLASTn))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_COA_BLASTn= df_COA_BLASTn[common_columns]
# Transform DataFrame to boolean
df_boolean = df_COA_BLASTn.astype(bool)
# Convert boolean values back to numeric
df_COA_BLASTn = df_boolean.astype(int)


# Assign the empty column as the first column in the DataFrame
df_COA_BLASTn.insert(0, 'db', new_column)
df_COA_BLASTn=df_COA_BLASTn.reset_index(drop=True)

# Print the updated DataFrames with only the common columns
#print(df1)
print(df_COA_BLASTn)

            db  chut  fha  wbbm  sfag  oqxb9  espy2  hcptssd  papd  acra  ...  \
0   BAL_En_COA     0    0     0     0      0      0        0     0     0  ...
1   BAL_Es_COA     0    0     0     0      0      0        0     0     0  ...
2   BAL_Kl_COA     0    0     0     0      1      0        0     1     0  ...
3   DEN_En_COA     0    0     0     0      0      0        0     0     0  ...
4   DEN_Es_COA     0    0     0     0      0      0        0     0     0  ...
5   DEN_Kl_COA     0    0     0     0      1      0        0     1     1  ...
6   MIN_En_COA     0    0     0     0      0      0        0     0     0  ...
7   MIN_Kl_COA     0    0     0     0      0      0        0     0     0  ...
8   NYC_En_COA     0    0     0     0      1      0        0     1     1  ...
9   NYC_Es_COA     0    1     0     0      0      1        0     0     1  ...
10  NYC_Kl_COA     0    0     0     0      1      0        0     1     1  ...
11  SAC_En_COA     0    0     0     0      0      0        0     0     0  ...
12  SAC_Es_COA     0    0     0     0      0      0        0     0     0  ...
13  SAC_Kl_COA     0    0     0     0      0      0        0     0     0  ...
14  SAN_Es_COA     0    1     0     0      0      0        0     0     1  ...
15  SAN_Kl_COA     0    0     0     0      0      0        0     0     0  ...
16  MIN_Es_COA     0    0     0     0      0      0        0     0     0  ...
17  SAN_En_COA     0    0     0     0      0      0        0     0     0  ...

    gspd  kpse  silc  mcr9  pmrl  fosa9  gspe  chux  tle1  clbk
0      0     0     1     0     0      0     0     0     0     0
1      0     0     0     0     0      0     0     0     0     0
2      0     0     1     0     0      1     0     0     0     0
3      0     0     0     0     0      0     0     0     0     0
4      0     0     0     0     0      0     0     0     0     0
5      0     0     1     0     0      1     0     0     0     0
6      0     0     0     0     0      0     0     0     0     0
7      0     0     0     0     0      0     0     0     0     0
8      0     0     1     0     0      0     0     0     0     0
9      1     0     1     1     1      0     0     0     0     1
10     0     0     1     0     0      1     0     0     0     1
11     0     0     0     0     0      0     0     0     0     0
12     0     0     0     0     0      0     0     0     0     0
13     0     0     1     0     0      0     0     0     0     0
14     0     0     0     0     1      0     0     0     0     0
15     0     0     0     0     0      0     0     0     0     0
16     0     0     0     0     0      0     0     0     0     0
17     0     0     0     0     0      0     0     0     0     0

[18 rows x 326 columns]

horizontal

In [ ]:

#print(df_ET_BC_AMR_BLASTn['db'])
#print(df_ET_BC_AMR_CARD['db'])
merged_COA_df = pd.merge(df_COA_BLASTn, df_COA_CARD, on='db')
merged_COA_df.rename(columns={'db': 'ID'}, inplace=True)
print(merged_COA_df)

            ID  chut  fha  wbbm  sfag  oqxb9  espy2  hcptssd  papd  acra  ...  \
0   BAL_En_COA     0    0     0     0      0      0        0     0     0  ...
1   BAL_Es_COA     0    0     0     0      0      0        0     0     0  ...
2   BAL_Kl_COA     0    0     0     0      1      0        0     1     0  ...
3   DEN_En_COA     0    0     0     0      0      0        0     0     0  ...
4   DEN_Es_COA     0    0     0     0      0      0        0     0     0  ...
5   DEN_Kl_COA     0    0     0     0      1      0        0     1     1  ...
6   MIN_En_COA     0    0     0     0      0      0        0     0     0  ...
7   MIN_Kl_COA     0    0     0     0      0      0        0     0     0  ...
8   NYC_En_COA     0    0     0     0      1      0        0     1     1  ...
9   NYC_Es_COA     0    1     0     0      0      1        0     0     1  ...
10  NYC_Kl_COA     0    0     0     0      1      0        0     1     1  ...
11  SAC_En_COA     0    0     0     0      0      0        0     0     0  ...
12  SAC_Es_COA     0    0     0     0      0      0        0     0     0  ...
13  SAC_Kl_COA     0    0     0     0      0      0        0     0     0  ...
14  SAN_Es_COA     0    1     0     0      0      0        0     0     1  ...
15  SAN_Kl_COA     0    0     0     0      0      0        0     0     0  ...
16  MIN_Es_COA     0    0     0     0      0      0        0     0     0  ...
17  SAN_En_COA     0    0     0     0      0      0        0     0     0  ...

    ARO:3003049  ARO:3002683  ARO:3000074  ARO:3003549  ARO:3000793  \
0             1            0            1            0            0
1             1            0            0            0            0
2             1            0            0            1            1
3             0            0            0            0            1
4             0            0            0            0            0
5             1            0            1            1            1
6             0            0            0            0            0
7             0            0            0            0            0
8             1            1            1            0            1
9             1            0            1            1            1
10            1            0            1            1            1
11            0            0            0            0            0
12            0            0            0            0            0
13            0            0            0            0            0
14            1            0            1            1            1
15            0            0            0            0            0
16            0            0            0            0            0
17            0            0            0            0            0

    ARO:3005053  ARO:3002579  ARO:3000830  ARO:3003841  ARO:3000656
0             0            0            1            0            0
1             0            0            0            0            0
2             0            1            1            0            0
3             0            0            1            0            1
4             1            0            0            0            0
5             1            1            1            1            1
6             0            0            0            0            0
7             0            0            0            0            0
8             1            0            1            1            1
9             1            0            1            1            1
10            1            1            1            1            1
11            0            0            0            0            0
12            0            0            0            0            0
13            0            0            0            0            0
14            1            0            0            1            0
15            0            0            0            0            0
16            0            0            0            0            0
17            0            0            0            0            0

[18 rows x 406 columns]

In [ ]:
new_column1 =merged_COA_df['ID'].str.split('_').str[0]
new_column2 =merged_COA_df['ID'].str.split('_').str[1].replace("En", "Enterobacter hormaechei").replace("Es", "Escherichia coli").replace("Kl", "Klebsiella pneumoniae")

merged_COA_df.insert(1, 'Species', new_column2)
merged_COA_df.insert(2, 'City', new_column1)

merged_COA_df=merged_COA_df.reset_index(drop=True)
#merged_COA_df=merged_COA_df.iloc[:, :3]
print(merged_COA_df)

            ID                  Species City  chut  fha  wbbm  sfag  oqxb9  \
0   BAL_En_COA  Enterobacter hormaechei  BAL     0    0     0     0      0
1   BAL_Es_COA         Escherichia coli  BAL     0    0     0     0      0
2   BAL_Kl_COA    Klebsiella pneumoniae  BAL     0    0     0     0      1
3   DEN_En_COA  Enterobacter hormaechei  DEN     0    0     0     0      0
4   DEN_Es_COA         Escherichia coli  DEN     0    0     0     0      0
5   DEN_Kl_COA    Klebsiella pneumoniae  DEN     0    0     0     0      1
6   MIN_En_COA  Enterobacter hormaechei  MIN     0    0     0     0      0
7   MIN_Kl_COA    Klebsiella pneumoniae  MIN     0    0     0     0      0
8   NYC_En_COA  Enterobacter hormaechei  NYC     0    0     0     0      1
9   NYC_Es_COA         Escherichia coli  NYC     0    1     0     0      0
10  NYC_Kl_COA    Klebsiella pneumoniae  NYC     0    0     0     0      1
11  SAC_En_COA  Enterobacter hormaechei  SAC     0    0     0     0      0
12  SAC_Es_COA         Escherichia coli  SAC     0    0     0     0      0
13  SAC_Kl_COA    Klebsiella pneumoniae  SAC     0    0     0     0      0
14  SAN_Es_COA         Escherichia coli  SAN     0    1     0     0      0
15  SAN_Kl_COA    Klebsiella pneumoniae  SAN     0    0     0     0      0
16  MIN_Es_COA         Escherichia coli  MIN     0    0     0     0      0
17  SAN_En_COA  Enterobacter hormaechei  SAN     0    0     0     0      0

    espy2  hcptssd  ...  ARO:3003049  ARO:3002683  ARO:3000074  ARO:3003549  \
0       0        0  ...            1            0            1            0
1       0        0  ...            1            0            0            0
2       0        0  ...            1            0            0            1
3       0        0  ...            0            0            0            0
4       0        0  ...            0            0            0            0
5       0        0  ...            1            0            1            1
6       0        0  ...            0            0            0            0
7       0        0  ...            0            0            0            0
8       0        0  ...            1            1            1            0
9       1        0  ...            1            0            1            1
10      0        0  ...            1            0            1            1
11      0        0  ...            0            0            0            0
12      0        0  ...            0            0            0            0
13      0        0  ...            0            0            0            0
14      0        0  ...            1            0            1            1
15      0        0  ...            0            0            0            0
16      0        0  ...            0            0            0            0
17      0        0  ...            0            0            0            0

    ARO:3000793  ARO:3005053  ARO:3002579  ARO:3000830  ARO:3003841  \
0             0            0            0            1            0
1             0            0            0            0            0
2             1            0            1            1            0
3             1            0            0            1            0
4             0            1            0            0            0
5             1            1            1            1            1
6             0            0            0            0            0
7             0            0            0            0            0
8             1            1            0            1            1
9             1            1            0            1            1
10            1            1            1            1            1
11            0            0            0            0            0
12            0            0            0            0            0
13            0            0            0            0            0
14            1            1            0            0            1
15            0            0            0            0            0
16            0            0            0            0            0
17            0            0            0            0            0

    ARO:3000656
0             0
1             0
2             0
3             1
4             0
5             1
6             0
7             0
8             1
9             1
10            1
11            0
12            0
13            0
14            0
15            0
16            0
17            0

[18 rows x 408 columns]

In [ ]:

# Vertically join the DataFrames keeping all columns from df1
concatenated_df = pd.concat([metadata_df, merged_ETBCMet_df,merged_COA_df], axis=0, ignore_index=True).fillna(0)
print(concatenated_df)

             ID                  Species        City AST-based group  \
0            S1  Enterobacter hormaechei  mysterious   3GC-resistant
1            S2  Enterobacter hormaechei  mysterious          CP CRE
2            S3  Enterobacter hormaechei  mysterious          CP CRE
3            S4  Enterobacter hormaechei  mysterious          CP CRE
4            S5  Enterobacter hormaechei  mysterious          CP CRE
..          ...                      ...         ...             ...
282  SAC_Kl_COA    Klebsiella pneumoniae         SAC               0
283  SAN_Es_COA         Escherichia coli         SAN               0
284  SAN_Kl_COA    Klebsiella pneumoniae         SAN               0
285  MIN_Es_COA         Escherichia coli         MIN               0
286  SAN_En_COA  Enterobacter hormaechei         SAN               0

     ARO:3000167  ARO:3002847  mrkb  enta  fepa  ARO:3004122  ...  wcst  sfax  \
0              0          0.0     0     0     0          0.0  ...     0     0
1              0          0.0     0     0     0          0.0  ...     0     0
2              0          0.0     0     0     0          0.0  ...     0     0
3              0          0.0     0     1     0          0.0  ...     0     0
4              0          0.0     0     0     0          0.0  ...     0     0
..           ...          ...   ...   ...   ...          ...  ...   ...   ...
282            0          0.0     0     0     0          1.0  ...     0     0
283            0          0.0     0     1     0          1.0  ...     0     0
284            0          0.0     0     0     0          0.0  ...     0     0
285            0          0.0     0     0     0          0.0  ...     0     0
286            0          0.0     0     0     0          0.0  ...     0     0

     kpsd  mdlb  ARO:3001084  tssj  icmftssm  acrr  Collection_date  included
0       0     0          0.0     0         0     0              0.0         0
1       0     0          0.0     0         0     0              0.0         0
2       0     0          0.0     0         0     0              0.0         0
3       0     0          0.0     0         0     0              0.0         0
4       0     0          0.0     0         0     0              0.0         0
..    ...   ...          ...   ...       ...   ...              ...       ...
282     0     0          0.0     0         0     0              0.0         0
283     0     1          0.0     0         0     0              0.0         0
284     0     0          0.0     0         0     0              0.0         0
285     0     0          0.0     0         0     0              0.0         0
286     0     0          0.0     0         0     0              0.0         0

[287 rows x 511 columns]

Print table

In [ ]:

# Assuming you have a DataFrame named concatenated_df

# Export the DataFrame as a CSV file
csv_file_path = '230701_AMR_mysterious_NCBI_all_nelly.csv'
concatenated_df.to_csv(csv_file_path, index=False)

# Print the file paths
print("CSV file saved:", csv_file_path)

CSV file saved: 230701_AMR_mysterious_NCBI_all_nelly.csv