## AMR in genomes from NCBI and from mysterious city
First lets upload the mysterious city AMR presence-absence table
We have 143 genomes (rows) with 505 AMR markers detected

## Mysterious city

In [1]:
import pandas as pd
## 505 combined CARD-manual Ids from mysterious samples
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/amr_mistery_table20230622_aroIds.tsv'

# Read the TSV file into a DataFrame
df_CM_mysterious = pd.read_csv(url, delimiter='\t')
# Rename the first column
print(df_CM_mysterious.columns )
df_CM_mysterious.columns.values[0] = 'ID'

# Print the DataFrame
print(df_CM_mysterious.head())

# Get the dimensions of the DataFrame
rows_df_CM_mysterious, columns_df_CM_mysterious = df_CM_mysterious.shape

# Print the dimensions
print("Number of rows:", rows_df_CM_mysterious)
print("Number of columns:", columns_df_CM_mysterious)
# Count non-zero values by row
non_zero_counts = (df_CM_mysterious != 0).sum(axis=1)

# Print the result
print(non_zero_counts)
#print (df)

Index(['sample', 'ARO:3000167', 'ARO:3002847', 'mrkb', 'enta', 'fepa',
       'ARO:3004122', 'cyca', 'csge', 'iucc',
       ...
       'teml100', 'scintssj', 'wcst', 'sfax', 'kpsd', 'mdlb', 'ARO:3001084',
       'tssj', 'icmftssm', 'acrr'],
      dtype='object', length=506)
   ID  ARO:3000167  ARO:3002847  mrkb  enta  fepa  ARO:3004122  cyca  csge  \
0  S1            0            0     0     0     0            0     1     0
1  S2            0            0     0     0     0            0     1     0
2  S3            0            0     0     0     0            0     1     0
3  S4            0            0     0     1     0            0     1     0
4  S5            0            0     0     0     0            0     1     0

   iucc  ...  teml100  scintssj  wcst  sfax  kpsd  mdlb  ARO:3001084  tssj  \
0     0  ...        0         0     0     0     0     0            0     0
1     0  ...        0         0     0     0     0     0            0     0
2     0  ...        0         0     0     0     0     0            0     0
3     0  ...        0         0     0     0     0     0            0     0
4     0  ...        0         0     0     0     0     0            0     0

   icmftssm  acrr
0         0     0
1         0     0
2         0     0
3         0     0
4         0     0

[5 rows x 506 columns]
Number of rows: 146
Number of columns: 506
0       74
1       79
2       85
3       85
4       76
      ...
141    125
142    126
143    126
144    118
145    115
Length: 146, dtype: int64

In [2]:
## Adding metadata such as species to mysterious samples
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/01_preprocessing/amr_patterns.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_metadata_mysterious = pd.read_csv(url, delimiter='\t')
new_column = df_metadata_mysterious['ID']
df_metadata_mysterious.insert(2, 'City', new_column)
df_metadata_mysterious['City'] = 'mysterious'
df_metadata_mysterious=df_metadata_mysterious.iloc[:, :4]

# Print the DataFrame
#print(df_metadata_mysterious.head())
# Perform the join based on the 'Id' column
mysterious_df = pd.merge( df_metadata_mysterious,df_CM_mysterious, on='ID')

# Print the merged DataFrame
print(mysterious_df.head())

   ID                  Species        City AST-based group  ARO:3000167  \
0  S1  Enterobacter hormaechei  mysterious   3GC-resistant            0
1  S2  Enterobacter hormaechei  mysterious          CP CRE            0
2  S3  Enterobacter hormaechei  mysterious          CP CRE            0
3  S4  Enterobacter hormaechei  mysterious          CP CRE            0
4  S5  Enterobacter hormaechei  mysterious          CP CRE            0

   ARO:3002847  mrkb  enta  fepa  ARO:3004122  ...  teml100  scintssj  wcst  \
0            0     0     0     0            0  ...        0         0     0
1            0     0     0     0            0  ...        0         0     0
2            0     0     0     0            0  ...        0         0     0
3            0     0     1     0            0  ...        0         0     0
4            0     0     0     0            0  ...        0         0     0

   sfax  kpsd  mdlb  ARO:3001084  tssj  icmftssm  acrr
0     0     0     0            0     0         0     0
1     0     0     0            0     0         0     0
2     0     0     0            0     0         0     0
3     0     0     0            0     0         0     0
4     0     0     0            0     0         0     0

[5 rows x 509 columns]

Mysterious city has 146 sample 505 AMR markers

In [3]:
# Getting consensus by city
## Pending

# Extract column 3

#df=mysterious_df
#df = df.drop(columns=[df.columns[0], df.columns[2], df.columns[3]])

#grouped = df.groupby('Species').agg(lambda x: x.mode().iloc[0])

# Print the result
#print(grouped)
# Count non-zero values by row
#non_zero_counts = (df != 0).sum(axis=1)

# Print the result
#print(non_zero_counts)
#print (df)

## AMR in Genomes  
### Selected from NCBI  
We found 3566 CARD Ids ( columns) not all of them are in the mysterious city samples.  
The 106 rows are the genus _Escherichia_, _Enterobacter_ and _Klebsiella_ in the 6 US cities were AMR CARD models were found.

In [4]:

## CARD table for Extracted by Taxonomy , binned by city
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/230623_genomes_card_presence.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_NCBI_genomes_AMR_CARD = pd.read_csv(url, delimiter='\t').transpose()

# Get the values from the third row
third_row = df_NCBI_genomes_AMR_CARD.iloc[1]
df_NCBI_genomes_AMR_CARD.columns=third_row

# Add a prefix to column names
prefix = 'ARO:'  # Replace with the desired prefix
#df_NCBI_genomes_AMR_CARD = df_NCBI_genomes_AMR_CARD.iloc[1].astype(str) +"_"+ df_NCBI_genomes_AMR_CARD.add_prefix(prefix)
df_NCBI_genomes_AMR_CARD = df_NCBI_genomes_AMR_CARD.add_prefix(prefix)

# Remove a specific row by index
index_to_remove = 'aro'  # Replace with the index of the row you want to remove
df_NCBI_genomes_AMR_CARD = df_NCBI_genomes_AMR_CARD.drop(index_to_remove)

#df_NCBI_genomes_AMR_CARD.columns=df_NCBI_genomes_AMR_CARD.iloc[0].astype(str)+"_"+df_NCBI_genomes_AMR_CARD.columns
#print(names)
print(df_NCBI_genomes_AMR_CARD)

aro             ARO:3000535 ARO:3003665 ARO:3000620 ARO:3005091 ARO:3007433  \
Unnamed: 0             macB        NmcR        adeL        RanA        almE
GCF_002214205.1           1           1           1           1           1
GCF_002833425.1           1           1           1           1           1
GCF_002833445.1           1           1           1           1           1
GCF_002833465.1           1           1           1           1           1
...                     ...         ...         ...         ...         ...
GCF_029069675.1           1           1           1           1           1
GCF_029069745.1           1           1           1           1           1
GCF_029069825.1           1           1           1           1           1
GCF_029070195.1           1           1           1           1           1
GCF_029075245.1           1           1           1           1           1

aro             ARO:3000833 ARO:3005008 ARO:3000813 ARO:3004047 ARO:3002985  \
Unnamed: 0             evgS         TxR        MexS        kdpD        arnA
GCF_002214205.1           1           1           1           1           1
GCF_002833425.1           1           1           1           1           1
GCF_002833445.1           1           1           1           1           1
GCF_002833465.1           1           1           1           1           1
...                     ...         ...         ...         ...         ...
GCF_029069675.1           1           1           1           1           1
GCF_029069745.1           1           1           1           1           1
GCF_029069825.1           1           1           1           1           1
GCF_029070195.1           1           1           1           1           1
GCF_029075245.1           1           1           1           1           1

aro              ... ARO:3006843 ARO:3001659 ARO:3000950 ARO:3003622  \
Unnamed: 0       ...      PDC-58     OXA-175      TEM-83     OXA-466
GCF_002214205.1  ...           0           0           0           0
GCF_002833425.1  ...           0           0           0           0
GCF_002833445.1  ...           0           0           0           0
GCF_002833465.1  ...           0           0           0           0
...              ...         ...         ...         ...         ...
GCF_029069675.1  ...           0           0           0           0
GCF_029069745.1  ...           0           0           0           0
GCF_029069825.1  ...           0           0           0           0
GCF_029070195.1  ...           0           0           0           0
GCF_029075245.1  ...           1           1           1           1

aro             ARO:3005371 ARO:3006685 ARO:3001838 ARO:3007239 ARO:3006522  \
Unnamed: 0           KPC-39     PDC-315      ACT-17    MCR-1.22     PDC-145
GCF_002214205.1           0           0           0           0           0
GCF_002833425.1           0           0           0           0           0
GCF_002833445.1           0           0           0           0           0
GCF_002833465.1           0           0           0           0           0
...                     ...         ...         ...         ...         ...
GCF_029069675.1           0           0           0           0           0
GCF_029069745.1           0           0           0           0           0
GCF_029069825.1           0           0           0           0           0
GCF_029070195.1           0           0           0           0           0
GCF_029075245.1           1           1           1           1           1

aro             ARO:3006415
Unnamed: 0          ADC-245
GCF_002214205.1           0
GCF_002833425.1           0
GCF_002833445.1           0
GCF_002833465.1           0
...                     ...
GCF_029069675.1           0
GCF_029069745.1           0
GCF_029069825.1           0
GCF_029070195.1           0
GCF_029075245.1           1

[107 rows x 3566 columns]

Now we will get the CARD Ids intersection with IDs in mysterious city samples, only 157 were found.

In [5]:


# Create an empty column with the desired name
new_column = df_NCBI_genomes_AMR_CARD.index

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_NCBI_genomes_AMR_CARD.columns))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_NCBI_genomes_AMR_CARD = df_NCBI_genomes_AMR_CARD[common_columns]

# Print the updated DataFrames with only the common columns
# Assign the empty column as the first column in the DataFrame
df_NCBI_genomes_AMR_CARD.insert(0, 'db', new_column)
df_NCBI_genomes_AMR_CARD=df_NCBI_genomes_AMR_CARD.reset_index(drop=True)

print(df_NCBI_genomes_AMR_CARD)


# Print the DataFrame
#print(df_ET_BC_AMR_CARD)

aro               db  ARO:3002578 ARO:3000823 ARO:3000167 ARO:3003548  \
0         Unnamed: 0  AAC(6')-Ib7        ramA      tet(C)        mdtN
1    GCF_002214205.1            1           1           1           1
2    GCF_002833425.1            1           1           1           1
3    GCF_002833445.1            1           1           1           1
4    GCF_002833465.1            1           1           1           1
..               ...          ...         ...         ...         ...
102  GCF_029069675.1            0           1           1           1
103  GCF_029069745.1            0           1           1           1
104  GCF_029069825.1            0           1           1           1
105  GCF_029070195.1            0           1           1           1
106  GCF_029075245.1            1           1           1           1

aro ARO:3003059 ARO:3001130 ARO:3002705 ARO:3002735 ARO:3003578  ...  \
0          tmrB      SHV-76        floR      QnrB20        PmrF  ...
1             1           0           1           0           1  ...
2             1           0           1           0           1  ...
3             1           0           1           0           1  ...
4             1           0           1           0           1  ...
..          ...         ...         ...         ...         ...  ...
102           1           1           1           0           1  ...
103           1           1           0           0           1  ...
104           1           1           1           0           1  ...
105           1           1           1           0           1  ...
106           1           0           1           0           1  ...

aro ARO:3000263 ARO:3000508 ARO:3005098 ARO:3002132 ARO:3000792 ARO:3000873  \
0          marA        gadX        qacL       DHA-1        mdtA       TEM-1
1             1           1           1           0           1           1
2             1           1           1           0           1           1
3             1           1           1           0           1           1
4             1           1           1           0           1           1
..          ...         ...         ...         ...         ...         ...
102           1           1           1           0           1           1
103           1           1           1           0           1           1
104           1           1           1           0           1           1
105           1           1           1           0           1           1
106           1           1           1           0           1           1

aro ARO:3001216 ARO:3001214 ARO:3000676 ARO:3003838
0          mdtH        mdtM        H-NS        gadW
1             1           1           1           1
2             1           1           1           1
3             1           1           1           1
4             1           1           1           1
..          ...         ...         ...         ...
102           1           1           1           0
103           1           1           1           0
104           1           1           1           0
105           1           1           1           0
106           1           1           1           1

[107 rows x 157 columns]

Lets find all hits of the manually curated database 325 Ids were blastn against metagenomic samples

In [6]:
url2='https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/230624_genomes_blast_counts.tsv'

# Read the TSV file into a DataFrame
df_NCBI_genomes_AMR_BLASTn = pd.read_csv(url2, delimiter='\t', dtype={'002214205': str})
df_NCBI_genomes_AMR_BLASTn['db'] = "GCF_" + df_NCBI_genomes_AMR_BLASTn['002214205'].astype(str) + ".1"

# Create an empty column with the desired name
new_column = df_NCBI_genomes_AMR_BLASTn['db']

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_NCBI_genomes_AMR_BLASTn))

# Keep only the common columns in both DataFrames
df1 = df_CM_mysterious[common_columns]
df_NCBI_genomes_AMR_BLASTn= df_NCBI_genomes_AMR_BLASTn[common_columns]
# Transform DataFrame to boolean
df_boolean = df_NCBI_genomes_AMR_BLASTn.astype(bool)
# Convert boolean values back to numeric
df_NCBI_genomes_AMR_BLASTn = df_boolean.astype(int)


# Assign the empty column as the first column in the DataFrame
df_NCBI_genomes_AMR_BLASTn.insert(0, 'db', new_column)
df_NCBI_genomes_AMR_BLASTn=df_NCBI_genomes_AMR_BLASTn.reset_index(drop=True)

# Print the updated DataFrames with only the common columns
#print(df1)
print(df_NCBI_genomes_AMR_BLASTn)

                  db  porin  kfoc  iucc  flha  fepd  clbo  ec148  tli1  kpsf  \
0    GCF_002214205.1      0     0     1     0     0     0      0     0     1
1    GCF_002833425.1      0     0     0     0     0     0      0     0     0
2    GCF_002833445.1      0     0     0     0     0     0      0     0     0
3    GCF_002833465.1      0     0     0     0     0     0      0     0     0
4    GCF_002855915.1      0     0     0     0     0     0      0     0     0
..               ...    ...   ...   ...   ...   ...   ...    ...   ...   ...
293  GCF_029069675.1      0     0     0     0     1     0      0     0     0
294  GCF_029069745.1      0     0     0     0     1     0      0     0     0
295  GCF_029069825.1      0     0     0     0     1     0      0     0     0
296  GCF_029070195.1      0     0     0     0     1     0      0     0     0
297  GCF_029075245.1      0     0     0     0     1     0      0     0     0

     ...  kpsc  acra  ramr  uhpt  cyca  clpvtssh  wcai  estxsat1  mrkh  wcly
0    ...     0     1     0     0     0         0     0         0     0     0
1    ...     0     0     0     0     0         0     0         0     0     0
2    ...     0     0     0     0     0         0     0         0     0     0
3    ...     0     0     0     0     0         0     0         0     0     0
4    ...     0     0     0     0     0         0     0         0     0     0
..   ...   ...   ...   ...   ...   ...       ...   ...       ...   ...   ...
293  ...     0     1     0     1     1         1     0         0     0     0
294  ...     0     1     0     1     1         1     0         0     0     0
295  ...     0     1     0     1     1         1     0         0     0     0
296  ...     0     1     0     1     1         1     0         0     0     0
297  ...     0     1     0     1     1         1     0         0     0     0

[298 rows x 326 columns]

In this data set rows with same ID may came from different pangenome Set (clous, shell, persistance) for this analysis we will combine rows by OR operator ignoring its pangenome origin

In [ ]:
print(df_NCBI_genomes_AMR_BLASTn)
# Group the DataFrame by 'ID' and apply the OR operator to each column
df_NCBI_genomes_blast_combined = df_NCBI_genomes_AMR_BLASTn.groupby('db').agg(lambda x: 1 if any(x.astype(bool)) else 0)

# Reset the index to convert the 'ID' column back to a regular column
df_NCBI_genomes_blast_combined.reset_index(inplace=True)
#print(df_NCBI_genomes_combined)

                  db  porin  kfoc  iucc  flha  fepd  clbo  ec148  tli1  kpsf  \
0    GCF_002214205.1      0     0     1     0     0     0      0     0     1
1    GCF_002833425.1      0     0     0     0     0     0      0     0     0
2    GCF_002833445.1      0     0     0     0     0     0      0     0     0
3    GCF_002833465.1      0     0     0     0     0     0      0     0     0
4    GCF_002855915.1      0     0     0     0     0     0      0     0     0
..               ...    ...   ...   ...   ...   ...   ...    ...   ...   ...
293  GCF_029069675.1      0     0     0     0     1     0      0     0     0
294  GCF_029069745.1      0     0     0     0     1     0      0     0     0
295  GCF_029069825.1      0     0     0     0     1     0      0     0     0
296  GCF_029070195.1      0     0     0     0     1     0      0     0     0
297  GCF_029075245.1      0     0     0     0     1     0      0     0     0

     ...  kpsc  acra  ramr  uhpt  cyca  clpvtssh  wcai  estxsat1  mrkh  wcly
0    ...     0     1     0     0     0         0     0         0     0     0
1    ...     0     0     0     0     0         0     0         0     0     0
2    ...     0     0     0     0     0         0     0         0     0     0
3    ...     0     0     0     0     0         0     0         0     0     0
4    ...     0     0     0     0     0         0     0         0     0     0
..   ...   ...   ...   ...   ...   ...       ...   ...       ...   ...   ...
293  ...     0     1     0     1     1         1     0         0     0     0
294  ...     0     1     0     1     1         1     0         0     0     0
295  ...     0     1     0     1     1         1     0         0     0     0
296  ...     0     1     0     1     1         1     0         0     0     0
297  ...     0     1     0     1     1         1     0         0     0     0

[298 rows x 326 columns]

Now lets horizontally combined the two datasets, so that for each city we will have 157+325 =482 AMR IDS

In [ ]:
merged_NCBIGenomes_df = pd.merge(df_NCBI_genomes_blast_combined, df_NCBI_genomes_AMR_CARD, on='db')
merged_NCBIGenomes_df.rename(columns={'db': 'ID'}, inplace=True)

url='https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/genome-metadata.csv'

# Read the TSV file into a DataFrame
df_NCBI_genomes_metadata = pd.read_csv(url)
df_NCBI_genomes_metadata.rename(columns={'accession': 'ID'}, inplace=True)

merged_df = pd.merge(df_NCBI_genomes_metadata, merged_NCBIGenomes_df, on="ID")
merged_df.rename(columns={'city': 'City'}, inplace=True)
merged_df.rename(columns={'species': 'Species'}, inplace=True)
merged_df['City']=merged_df['City'].replace("New York", "NYC").replace("Minneapolis", "MIN").replace("Baltimore", "BAL").replace("San Antonio", "SAN")
merged_df['ID']=merged_df['City']+"_"+merged_df['Collection_date'].astype(str)+"_"+merged_df['ID']



print(merged_df)
 #ID                  Species        City
 #ID =

NCBI Genomes has 105 samples with 486 AMR markers

Now lets combine the 107 rows from genomes and ~480 AMR Ids with
~146 rows with ~505 AMR markers from mysterious city

Metadata from collected genomes

In [ ]:
# merged_df NCBI samples with metadata
metadata_df = pd.concat([mysterious_df, merged_df], axis=0, ignore_index=True).fillna(0)
print(metadata_df)

Mysterious city and NCBI genomes combined has 251 samples with 511 columns

## AMR in metagenomes
### Extracted by taxonomy - Binned by city - Assembled - AMR profiled  
We found 492 CARD Ids ( columns) not all of them are in the mysterious city samples.
The 12 rows are the genus Escherichia, Enterobacter and Klebsiella in the 6 US cities were AMR CARD models were found.

In [ ]:

## CARD table for Extracted by Taxonomy , binned by city
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/230628_us_reads_card_counts.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_ET_BC_AMR_CARD = pd.read_csv(url, delimiter='\t').transpose()

# Get the values from the third row
third_row = df_ET_BC_AMR_CARD.iloc[1]
df_ET_BC_AMR_CARD.columns=third_row
# Add a prefix to column names
prefix = 'ARO:'  # Replace with the desired prefix
df_ET_BC_AMR_CARD = df_ET_BC_AMR_CARD.add_prefix(prefix)

# Remove a specific row by index
index_to_remove = 'aro'  # Replace with the index of the row you want to remove
df_ET_BC_AMR_CARD = df_ET_BC_AMR_CARD.drop(index_to_remove)
df_ET_BC_AMR_CARD.columns=df_ET_BC_AMR_CARD.iloc[0].astype(str)+"_"+df_ET_BC_AMR_CARD.columns

print(df_ET_BC_AMR_CARD)

Now we will get the CARD Ids intersection with IDs in mysterious city samples, only 78 were found.

In [ ]:
# Create an empty column with the desired name
new_column = df_ET_BC_AMR_CARD.index

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_ET_BC_AMR_CARD.columns))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_ET_BC_AMR_CARD = df_ET_BC_AMR_CARD[common_columns]

# Print the updated DataFrames with only the common columns
# Assign the empty column as the first column in the DataFrame
df_ET_BC_AMR_CARD.insert(0, 'db', new_column)
df_ET_BC_AMR_CARD=df_ET_BC_AMR_CARD.reset_index(drop=True)

print(df_ET_BC_AMR_CARD)


# Print the DataFrame
#print(df_ET_BC_AMR_CARD)

Lets find all hits of the manually curated database 325 Ids were blastn against metagenomic samples

In [ ]:
url2='https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/amr_counts_complement_a3_20230629.tsv'

# Read the TSV file into a DataFrame
df_ET_BC_AMR_BLASTn = pd.read_csv(url2, delimiter='\t')
df_ET_BC_AMR_BLASTn['db'] = df_ET_BC_AMR_BLASTn['db'].str.split('.').str[0]

# Create an empty column with the desired name
new_column = df_ET_BC_AMR_BLASTn['db']

# Print the DataFrame
#print(df_ET_BC_AMR_BLASTn)

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_ET_BC_AMR_BLASTn))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_ET_BC_AMR_BLASTn= df_ET_BC_AMR_BLASTn[common_columns]
# Transform DataFrame to boolean
df_boolean = df_ET_BC_AMR_BLASTn.astype(bool)
# Convert boolean values back to numeric
df_ET_BC_AMR_BLASTn = df_boolean.astype(int)


# Assign the empty column as the first column in the DataFrame
df_ET_BC_AMR_BLASTn.insert(0, 'db', new_column)
df_ET_BC_AMR_BLASTn=df_ET_BC_AMR_BLASTn.reset_index(drop=True)

# Print the updated DataFrames with only the common columns
#print(df1)
print(df_ET_BC_AMR_BLASTn)

Now lets horizontally combined the two datasets, so that for each city we will have 78+325 =403 AMR IDS

In [ ]:
#print(df_ET_BC_AMR_BLASTn['db'])
#print(df_ET_BC_AMR_CARD['db'])
merged_ETBCMet_df = pd.merge(df_ET_BC_AMR_BLASTn, df_ET_BC_AMR_CARD, on='db')
merged_ETBCMet_df.rename(columns={'db': 'ID'}, inplace=True)
print(merged_ETBCMet_df)

In [ ]:
new_column1 =merged_ETBCMet_df['ID'].str.split('_').str[0]
new_column2 =merged_ETBCMet_df['ID'].str.split('_').str[1].replace("En", "Enterobacter hormaechei").replace("Es", "Escherichia coli").replace("Kl", "Klebsiella pneumoniae")

merged_ETBCMet_df.insert(1, 'Species', new_column2)
merged_ETBCMet_df.insert(2, 'City', new_column1)

merged_ETBCMet_df=merged_ETBCMet_df.reset_index(drop=True)
#merged_COA_df=merged_COA_df.iloc[:, :3]
print(merged_ETBCMet_df)

## Coassembled by city - Extracted by taxonomy - AMR profiled
We found 549 CARD Ids ( columns) not all of them are in the mysterious city samples.
The 19 rows are the genus Escherichia, Enterobacter and Klebsiella in the 6 US cities were AMR CARD models were found.

In [ ]:
## CARD table for Extracted by Taxonomy , binned by city
url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/230628_us_coassemblies_card_presence.tsv'  # Replace with the actual GitHub URL of the CSV file

# Read the TSV file into a DataFrame
df_COA_CARD = pd.read_csv(url, delimiter='\t').transpose()

# Get the values from the third row
third_row = df_COA_CARD.iloc[1]
df_COA_CARD.columns=third_row
# Add a prefix to column names
prefix = 'ARO:'  # Replace with the desired prefix
df_COA_CARD = df_COA_CARD.add_prefix(prefix)

#df_COA_CARD.iloc[:, 0] = df_COA_CARD.iloc[:, 0].add_suffix('_COA')
df_COA_CARD = df_COA_CARD.rename(lambda x: str(x) + '_COA', axis='index')


# Remove a specific row by index
index_to_remove = 'aro_COA'  # Replace with the index of the row you want to remove
df_COA_CARD = df_COA_CARD.drop(index_to_remove)


print(df_COA_CARD)
#print( df_COA_CARD.index.tolist())

CARD **intersection** gives 80 common columns (CARD IDs) with mysterious sample

In [ ]:

# Create an empty column with the desired name
new_column = df_COA_CARD.index

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_COA_CARD.columns))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_COA_CARD = df_COA_CARD[common_columns]

# Print the updated DataFrames with only the common columns
# Assign the empty column as the first column in the DataFrame
df_COA_CARD.insert(0, 'db', new_column)
df_COA_CARD=df_COA_CARD.reset_index(drop=True)

print(df_COA_CARD)


# Print the DataFrame
#print(df_COA_CARD)

Lets find all hits of the manually curated database 325 Ids were blastn against metagenomic samples

In [ ]:

url2='https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/data/amr_counts_complement_b3_20230629.tsv'

# Read the TSV file into a DataFrame
df_COA_BLASTn = pd.read_csv(url2, delimiter='\t')
df_COA_BLASTn['db'] = df_COA_BLASTn['db'].str.split('.').str[0]

# Create an empty column with the desired name
new_column = df_COA_BLASTn['db']+ '_COA'

#df_COA_BLASTn = df_COA_BLASTn.rename(lambda x: str(x) + '_COA', axis='index')

# Print the DataFrame
#print(df_COA_BLASTn)

# Get the intersection of column names
common_columns = list(set(df_CM_mysterious.columns).intersection(df_COA_BLASTn))

# Keep only the common columns in both DataFrames
#df1 = df_CM_mysterious[common_columns]
df_COA_BLASTn= df_COA_BLASTn[common_columns]
# Transform DataFrame to boolean
df_boolean = df_COA_BLASTn.astype(bool)
# Convert boolean values back to numeric
df_COA_BLASTn = df_boolean.astype(int)


# Assign the empty column as the first column in the DataFrame
df_COA_BLASTn.insert(0, 'db', new_column)
df_COA_BLASTn=df_COA_BLASTn.reset_index(drop=True)

# Print the updated DataFrames with only the common columns
#print(df1)
print(df_COA_BLASTn)

horizontal

In [ ]:

#print(df_ET_BC_AMR_BLASTn['db'])
#print(df_ET_BC_AMR_CARD['db'])
merged_COA_df = pd.merge(df_COA_BLASTn, df_COA_CARD, on='db')
merged_COA_df.rename(columns={'db': 'ID'}, inplace=True)
print(merged_COA_df)

In [ ]:
new_column1 =merged_COA_df['ID'].str.split('_').str[0]
new_column2 =merged_COA_df['ID'].str.split('_').str[1].replace("En", "Enterobacter hormaechei").replace("Es", "Escherichia coli").replace("Kl", "Klebsiella pneumoniae")

merged_COA_df.insert(1, 'Species', new_column2)
merged_COA_df.insert(2, 'City', new_column1)

merged_COA_df=merged_COA_df.reset_index(drop=True)
#merged_COA_df=merged_COA_df.iloc[:, :3]
print(merged_COA_df)

In [ ]:

# Vertically join the DataFrames keeping all columns from df1
concatenated_df = pd.concat([metadata_df, merged_ETBCMet_df,merged_COA_df], axis=0, ignore_index=True).fillna(0)
print(concatenated_df)

In [ ]:
def move_last_column(dataframe):
    last_column = dataframe.columns[-1]  # Get the name of the last column
    num_columns = len(dataframe.columns)  # Get the total number of columns
    # Reorder the columns by moving the last column to position 6
    dataframe2 = dataframe[[col for col in dataframe.columns if col != last_column]]
    dataframe2.insert(4, last_column, dataframe.iloc[:, -1].astype(str) )
    #print("last column",last_column,dataframe2.columns[4])
    #print(dataframe2.iloc[:,4])
    #print(dataframe2)
    return dataframe2

# Assuming you have a dataframe named "df"
updated_df = move_last_column(concatenated_df)
updated_df2 = move_last_column(updated_df)

print(updated_df2)

In [ ]:
## Dictionary


url = 'https://raw.githubusercontent.com/ccm-bioinfo/cambda2023/main/06_amr_resistance/codigos/data_preparation/data/aro_index.tsv'

# Read the data from the URL into a DataFrame
df = pd.read_csv(url, delimiter='\t')

# Assuming you have a DataFrame named df
# Create an empty dictionary
my_dict = {}

# Iterate over the rows of the DataFrame
for index, row in df.iterrows():
    # Use the first column as the key and the fourth column as the value
    key = row.iloc[0]
    value = row.iloc[4]+"_"+row.iloc[0]
    my_dict[key] = value

# Now you have a dictionary where the first column serves as keys and the fourth column serves as values
#print(my_dict)


#concatenated_df.columns=concatenated_df.iloc[0].astype(str)+"_"+concatenated_df.columns
def replace_columns_with_values(dataframe, replacements_dict):
    renamed_dataframe = dataframe.rename(columns=replacements_dict)
    return renamed_dataframe

# Assuming you have a dataframe named "other_df"
# and a dictionary named "aro_dict" with column replacements

updated_df  = replace_columns_with_values(updated_df2 , my_dict)

# Sort alfabetically
# Get the first four columns and store them in a separate DataFrame
first_four_columns = updated_df .iloc[:, :5]

# Sort the remaining columns alphabetically
sorted_remaining_columns = updated_df .iloc[:, 5:].sort_index(axis=1, key=lambda x: x.str.lower())

# Concatenate the first four columns and the sorted remaining columns
sorted_df = pd.concat([first_four_columns, sorted_remaining_columns], axis=1)

# Display the sorted DataFrame
print(sorted_df)

# Display the sorted DataFrame
print(sorted_df)

Print table

In [ ]:

# Assuming you have a DataFrame named concatenated_df

# Export the DataFrame as a CSV file
csv_file_path = '230705_AMR_mysterious_NCBI_all_nelly.csv'
sorted_df.to_csv(csv_file_path, index=False)

# Print the file paths
print("CSV file saved:", csv_file_path)